<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Checkpoints</key>
	<dict>
		<key>id</key>
		<string>3</string>
		<key>time</key>
		<string>180</string>
		<key>trigger_task_time</key>
		<string>0</string>
		<key>task_id</key>
		<string>0</string>
		<key>target_score</key>
		<string>10000</string>
		<key>evaluation_score</key>
		<string>10000</string>
		<key>brush_strange_start_time</key>
		<string>1</string>
		<key>brush_strange_end_time</key>
		<string>179</string>
		<key>brush_strange_num</key>
		<string>600</string>
		<key>isExistboss</key>
		<string>2</string>
	</dict>
	<key>Task</key>
	<dict/>
	<key>StrangeRand</key>
	<dict>
		<key>strange1</key>
		<dict>
			<key>id</key>
			<string>1</string>
			<key>strange_id</key>
			<string>1</string>
			<key>fishArray_id</key>
			<string>0</string>
			<key>rate</key>
			<string>4</string>
			<key>limit_num</key>
			<string>300</string>
		</dict>
		<key>strange2</key>
		<dict>
			<key>id</key>
			<string>2</string>
			<key>strange_id</key>
			<string>2</string>
			<key>fishArray_id</key>
			<string>0</string>
			<key>rate</key>
			<string>4</string>
			<key>limit_num</key>
			<string>200</string>
		</dict>
		<key>strange3</key>
		<dict>
			<key>id</key>
			<string>3</string>
			<key>strange_id</key>
			<string>3</string>
			<key>fishArray_id</key>
			<string>0</string>
			<key>rate</key>
			<string>4</string>
			<key>limit_num</key>
			<string>150</string>
		</dict>
		<key>strange4</key>
		<dict>
			<key>id</key>
			<string>4</string>
			<key>strange_id</key>
			<string>4</string>
			<key>fishArray_id</key>
			<string>0</string>
			<key>rate</key>
			<string>4</string>
			<key>limit_num</key>
			<string>100</string>
		</dict>
		<key>strange5</key>
		<dict>
			<key>id</key>
			<string>5</string>
			<key>strange_id</key>
			<string>5</string>
			<key>fishArray_id</key>
			<string>0</string>
			<key>rate</key>
			<string>4</string>
			<key>limit_num</key>
			<string>100</string>
		</dict>
		<key>strange6</key>
		<dict>
			<key>id</key>
			<string>6</string>
			<key>strange_id</key>
			<string>6</string>
			<key>fishArray_id</key>
			<string>0</string>
			<key>rate</key>
			<string>4</string>
			<key>limit_num</key>
			<string>20</string>
		</dict>
		<key>strange7</key>
		<dict>
			<key>id</key>
			<string>7</string>
			<key>strange_id</key>
			<string>7</string>
			<key>fishArray_id</key>
			<string>0</string>
			<key>rate</key>
			<string>4</string>
			<key>limit_num</key>
			<string>20</string>
		</dict>
		<key>strange8</key>
		<dict>
			<key>id</key>
			<string>8</string>
			<key>strange_id</key>
			<string>8</string>
			<key>fishArray_id</key>
			<string>0</string>
			<key>rate</key>
			<string>4</string>
			<key>limit_num</key>
			<string>20</string>
		</dict>
		<key>strange9</key>
		<dict>
			<key>id</key>
			<string>9</string>
			<key>strange_id</key>
			<string>9</string>
			<key>fishArray_id</key>
			<string>0</string>
			<key>rate</key>
			<string>4</string>
			<key>limit_num</key>
			<string>20</string>
		</dict>
		<key>strange10</key>
		<dict>
			<key>id</key>
			<string>10</string>
			<key>strange_id</key>
			<string>10</string>
			<key>fishArray_id</key>
			<string>0</string>
			<key>rate</key>
			<string>4</string>
			<key>limit_num</key>
			<string>5</string>
		</dict>
		<key>strange11</key>
		<dict>
			<key>id</key>
			<string>11</string>
			<key>strange_id</key>
			<string>15</string>
			<key>fishArray_id</key>
			<string>0</string>
			<key>rate</key>
			<string>4</string>
			<key>limit_num</key>
			<string>4</string>
		</dict>
		<key>strange12</key>
		<dict>
			<key>id</key>
			<string>12</string>
			<key>strange_id</key>
			<string>0</string>
			<key>fishArray_id</key>
			<string>1</string>
			<key>rate</key>
			<string>4</string>
			<key>limit_num</key>
			<string>4</string>
		</dict>
		<key>strange13</key>
		<dict>
			<key>id</key>
			<string>13</string>
			<key>strange_id</key>
			<string>0</string>
			<key>fishArray_id</key>
			<string>2</string>
			<key>rate</key>
			<string>4</string>
			<key>limit_num</key>
			<string>4</string>
		</dict>
		<key>strange14</key>
		<dict>
			<key>id</key>
			<string>14</string>
			<key>strange_id</key>
			<string>0</string>
			<key>fishArray_id</key>
			<string>4</string>
			<key>rate</key>
			<string>4</string>
			<key>limit_num</key>
			<string>4</string>
		</dict>
		<key>strange15</key>
		<dict>
			<key>id</key>
			<string>15</string>
			<key>strange_id</key>
			<string>0</string>
			<key>fishArray_id</key>
			<string>5</string>
			<key>rate</key>
			<string>4</string>
			<key>limit_num</key>
			<string>1</string>
		</dict>
		<key>strange16</key>
		<dict>
			<key>id</key>
			<string>16</string>
			<key>strange_id</key>
			<string>0</string>
			<key>fishArray_id</key>
			<string>6</string>
			<key>rate</key>
			<string>4</string>
			<key>limit_num</key>
			<string>1</string>
		</dict>
		<key>strange17</key>
		<dict>
			<key>id</key>
			<string>17</string>
			<key>strange_id</key>
			<string>0</string>
			<key>fishArray_id</key>
			<string>7</string>
			<key>rate</key>
			<string>4</string>
			<key>limit_num</key>
			<string>1</string>
		</dict>
		<key>strange18</key>
		<dict>
			<key>id</key>
			<string>18</string>
			<key>strange_id</key>
			<string>0</string>
			<key>fishArray_id</key>
			<string>8</string>
			<key>rate</key>
			<string>4</string>
			<key>limit_num</key>
			<string>1</string>
		</dict>
		<key>strange19</key>
		<dict>
			<key>id</key>
			<string>19</string>
			<key>strange_id</key>
			<string>0</string>
			<key>fishArray_id</key>
			<string>9</string>
			<key>rate</key>
			<string>4</string>
			<key>limit_num</key>
			<string>1</string>
		</dict>
		<key>strange20</key>
		<dict>
			<key>id</key>
			<string>20</string>
			<key>strange_id</key>
			<string>0</string>
			<key>fishArray_id</key>
			<string>10</string>
			<key>rate</key>
			<string>4</string>
			<key>limit_num</key>
			<string>1</string>
		</dict>
		<key>strange21</key>
		<dict>
			<key>id</key>
			<string>21</string>
			<key>strange_id</key>
			<string>0</string>
			<key>fishArray_id</key>
			<string>11</string>
			<key>rate</key>
			<string>4</string>
			<key>limit_num</key>
			<string>1</string>
		</dict>
		<key>strange22</key>
		<dict>
			<key>id</key>
			<string>22</string>
			<key>strange_id</key>
			<string>0</string>
			<key>fishArray_id</key>
			<string>13</string>
			<key>rate</key>
			<string>4</string>
			<key>limit_num</key>
			<string>5</string>
		</dict>
		<key>strange23</key>
		<dict>
			<key>id</key>
			<string>23</string>
			<key>strange_id</key>
			<string>0</string>
			<key>fishArray_id</key>
			<string>14</string>
			<key>rate</key>
			<string>4</string>
			<key>limit_num</key>
			<string>1</string>
		</dict>
		<key>strange24</key>
		<dict>
			<key>id</key>
			<string>24</string>
			<key>strange_id</key>
			<string>0</string>
			<key>fishArray_id</key>
			<string>15</string>
			<key>rate</key>
			<string>4</string>
			<key>limit_num</key>
			<string>1</string>
		</dict>
		<key>strange25</key>
		<dict>
			<key>id</key>
			<string>25</string>
			<key>strange_id</key>
			<string>0</string>
			<key>fishArray_id</key>
			<string>16</string>
			<key>rate</key>
			<string>4</string>
			<key>limit_num</key>
			<string>1</string>
		</dict>
	</dict>
	<key>StrangeTable</key>
	<dict>
		<key>strange1</key>
		<dict>
			<key>id</key>
			<string>1</string>
			<key>type</key>
			<string>2</string>
			<key>fishArray_id</key>
			<string>2</string>
			<key>strange_id</key>
			<string>0</string>
			<key>time</key>
			<string>30</string>
			<key>obrit_id</key>
			<string>3</string>
			<key>direction</key>
			<string>1</string>
		</dict>
		<key>strange2</key>
		<dict>
			<key>id</key>
			<string>1</string>
			<key>type</key>
			<string>2</string>
			<key>fishArray_id</key>
			<string>2</string>
			<key>strange_id</key>
			<string>0</string>
			<key>time</key>
			<string>35</string>
			<key>obrit_id</key>
			<string>4</string>
			<key>direction</key>
			<string>2</string>
		</dict>
		<key>strange3</key>
		<dict>
			<key>id</key>
			<string>1</string>
			<key>type</key>
			<string>2</string>
			<key>fishArray_id</key>
			<string>3</string>
			<key>strange_id</key>
			<string>0</string>
			<key>time</key>
			<string>50</string>
			<key>obrit_id</key>
			<string>2</string>
			<key>direction</key>
			<string>2</string>
		</dict>
	</dict>
</dict>
</plist>
