<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Checkpoints</key>
	<dict>
		<key>id</key>
		<string>10</string>
		<key>time</key>
		<string>110</string>
		<key>trigger_task_time</key>
		<string>40</string>
		<key>task_id</key>
		<string>0</string>
		<key>target_score</key>
		<string>0</string>
		<key>evaluation_score</key>
		<string>1500</string>
		<key>brush_strange_start_time</key>
		<string>25</string>
		<key>brush_strange_end_time</key>
		<string>0</string>
		<key>brush_strange_num</key>
		<string>0</string>
		<key>isExistboss</key>
		<string>1</string>
	</dict>
	<key>Task</key>
	<dict/>
	<key>StrangeRand</key>
	<dict>
		<key>strange1</key>
		<dict>
			<key>id</key>
			<string>1</string>
			<key>strange_id</key>
			<string>20</string>
			<key>fishArray_id</key>
			<string>0</string>
			<key>rate</key>
			<string>15</string>
			<key>limit_num</key>
			<string>0</string>
		</dict>
	</dict>
	<key>StrangeTable</key>
	<dict>
		<key>strange1</key>
		<dict>
			<key>id</key>
			<string>1</string>
			<key>type</key>
			<string>2</string>
			<key>fishArray_id</key>
			<string>12</string>
			<key>strange_id</key>
			<string>0</string>
			<key>time</key>
			<string>1</string>
			<key>obrit_id</key>
			<string>17</string>
			<key>direction</key>
			<string>2</string>
		</dict>
	</dict>
</dict>
</plist>
