<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bullet1</key>
	<dict>
		<key>Note</key>
		<string>螃蟹卫士</string>
		<key>id</key>
		<string>14</string>
		<key>speed</key>
		<string>2</string>
		<key>hurt_Value</key>
		<string>10</string>
		<key>angle_Value</key>
		<string>10</string>
		<key>life_Value</key>
		<string>100.0</string>
		<key>rates_Value</key>
		<string>20</string>
	</dict>
	<key>bullet2</key>
	<dict>
		<key>Note</key>
		<string>小鱼人</string>
		<key>id</key>
		<string>11</string>
		<key>speed</key>
		<string>8</string>
		<key>hurt_Value</key>
		<string>30</string>
		<key>angle_Value</key>
		<string>10</string>
		<key>life_Value</key>
		<string>200.0</string>
		<key>rates_Value</key>
		<string>20.0</string>
	</dict>
	<key>bullet3</key>
	<dict>
		<key>Note</key>
		<string>boss1的第1个子弹</string>
		<key>id</key>
		<string>1</string>
		<key>speed</key>
		<string>2</string>
		<key>hurt_Value</key>
		<string>10</string>
		<key>angle_Value</key>
		<string>10</string>
		<key>life_Value</key>
		<string>100.0</string>
		<key>rates_Value</key>
		<string>20.0</string>
	</dict>
	<key>bullet4</key>
	<dict>
		<key>Note</key>
		<string>boss1的第2个子弹</string>
		<key>id</key>
		<string>2</string>
		<key>speed</key>
		<string>3</string>
		<key>hurt_Value</key>
		<string>10</string>
		<key>angle_Value</key>
		<string>10</string>
		<key>life_Value</key>
		<string>100</string>
		<key>rates_Value</key>
		<string>120.0</string>
	</dict>
	<key>bullet5</key>
	<dict>
		<key>Note</key>
		<string>海星星的子弹</string>
		<key>id</key>
		<string>19</string>
		<key>speed</key>
		<string>3</string>
		<key>hurt_Value</key>
		<string>10</string>
		<key>angle_Value</key>
		<string>10</string>
		<key>life_Value</key>
		<string>100</string>
		<key>rates_Value</key>
		<string>20.0</string>
	</dict>
	<key>bullet6</key>
	<dict>
		<key>Note</key>
		<string>海蜘蛛的子弹</string>
		<key>id</key>
		<string>13</string>
		<key>speed</key>
		<string>3</string>
		<key>hurt_Value</key>
		<string>10.0</string>
		<key>angle_Value</key>
		<string>10</string>
		<key>life_Value</key>
		<string>100.0</string>
		<key>rates_Value</key>
		<string>20.0</string>
	</dict>
	<key>bullet7</key>
	<dict>
		<key>Note</key>
		<string>boss章鱼的子弹</string>
		<key>id</key>
		<string>18</string>
		<key>speed</key>
		<string>3</string>
		<key>hurt_Value</key>
		<string>10.0</string>
		<key>angle_Value</key>
		<string>10</string>
		<key>life_Value</key>
		<string>100.0</string>
		<key>rates_Value</key>
		<string>20.0</string>
	</dict>
	<key>bullet8</key>
	<dict>
		<key>Note</key>
		<string>小海星</string>
		<key>id</key>
		<string>12</string>
		<key>speed</key>
		<string>3</string>
		<key>hurt_Value</key>
		<string>20.0</string>
		<key>angle_Value</key>
		<string>10</string>
		<key>life_Value</key>
		<string>150</string>
		<key>rates_Value</key>
		<string>20.0</string>
	</dict>
	<key>bullet9</key>
	<dict>
		<key>Note</key>
		<string>波塞冬</string>
		<key>id</key>
		<string>20</string>
		<key>speed</key>
		<string>6</string>
		<key>hurt_Value</key>
		<string>30</string>
		<key>angle_Value</key>
		<string>10</string>
		<key>life_Value</key>
		<string>150</string>
		<key>rates_Value</key>
		<string>20.0</string>
	</dict>
</dict>
</plist>
