<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnemyList</key>
	<dict>
		<key>enemy1</key>
		<dict>
			<key>accelerate</key>
			<string>60</string>
			<key>angle</key>
			<string>30</string>
			<key>bulletId</key>
			<string>0</string>
			<key>bullet_firing_frequency</key>
			<string>0</string>
			<key>burst_rate</key>
			<string>10</string>
			<key>id</key>
			<string>1</string>
			<key>life</key>
			<string>0</string>
			<key>limit_burst_rate</key>
			<string>50</string>
			<key>name</key>
			<string>0</string>
			<key>numerical</key>
			<string>1</string>
			<key>shells_affect_rates</key>
			<string>4</string>
			<key>speed</key>
			<string>10</string>
			<key>time</key>
			<string>2</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<key>enemy2</key>
		<dict>
			<key>id</key>
			<string>2</string>
			<key>type</key>
			<string>1</string>
			<key>numerical</key>
			<string>3</string>
			<key>accelerate</key>
			<string>40</string>
			<key>life</key>
			<string>0</string>
			<key>angle</key>
			<string>25</string>
			<key>bulletId</key>
			<string>0</string>
			<key>bullet_firing_frequency</key>
			<string>0</string>
			<key>burst_rate</key>
			<string>9</string>
			<key>limit_burst_rate</key>
			<string>40</string>
			<key>name</key>
			<string>0</string>
			<key>shells_affect_rates</key>
			<string>2</string>
			<key>speed</key>
			<string>8</string>
			<key>time</key>
			<string>2</string>
		</dict>
		<key>enemy3</key>
		<dict>
			<key>name</key>
			<string>0</string>
			<key>id</key>
			<string>3</string>
			<key>numerical</key>
			<string>5</string>
			<key>life</key>
			<string>0</string>
			<key>accelerate</key>
			<string>30</string>
			<key>angle</key>
			<string>25</string>
			<key>bulletId</key>
			<string>0</string>
			<key>bullet_firing_frequency</key>
			<string>0</string>
			<key>burst_rate</key>
			<string>7</string>
			<key>limit_burst_rate</key>
			<string>25</string>
			<key>shells_affect_rates</key>
			<string>2</string>
			<key>speed</key>
			<string>7</string>
			<key>time</key>
			<string>3</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<key>enemy4</key>
		<dict>
			<key>name</key>
			<string>0</string>
			<key>id</key>
			<string>4</string>
			<key>numerical</key>
			<string>10</string>
			<key>life</key>
			<string>0</string>
			<key>accelerate</key>
			<string>30</string>
			<key>angle</key>
			<string>20</string>
			<key>bulletId</key>
			<string>0</string>
			<key>bullet_firing_frequency</key>
			<string>0</string>
			<key>burst_rate</key>
			<string>6</string>
			<key>limit_burst_rate</key>
			<string>18</string>
			<key>shells_affect_rates</key>
			<string>1</string>
			<key>speed</key>
			<string>5</string>
			<key>time</key>
			<string>3</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<key>enemy5</key>
		<dict>
			<key>name</key>
			<string>0</string>
			<key>id</key>
			<string>5</string>
			<key>numerical</key>
			<string>20</string>
			<key>life</key>
			<string>0</string>
			<key>accelerate</key>
			<string>30</string>
			<key>angle</key>
			<string>20</string>
			<key>bulletId</key>
			<string>0</string>
			<key>bullet_firing_frequency</key>
			<string>0</string>
			<key>burst_rate</key>
			<string>5</string>
			<key>limit_burst_rate</key>
			<string>15</string>
			<key>shells_affect_rates</key>
			<string>0.5</string>
			<key>speed</key>
			<string>5</string>
			<key>time</key>
			<string>3</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<key>enemy6</key>
		<dict>
			<key>name</key>
			<string>0</string>
			<key>id</key>
			<string>6</string>
			<key>numerical</key>
			<string>30</string>
			<key>life</key>
			<string>0</string>
			<key>accelerate</key>
			<string>20</string>
			<key>angle</key>
			<string>15</string>
			<key>bulletId</key>
			<string>0</string>
			<key>bullet_firing_frequency</key>
			<string>0</string>
			<key>burst_rate</key>
			<string>3</string>
			<key>limit_burst_rate</key>
			<string>12</string>
			<key>shells_affect_rates</key>
			<string>0.4</string>
			<key>speed</key>
			<string>8</string>
			<key>time</key>
			<string>4</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<key>enemy7</key>
		<dict>
			<key>name</key>
			<string>0</string>
			<key>id</key>
			<string>7</string>
			<key>numerical</key>
			<string>40</string>
			<key>life</key>
			<string>0</string>
			<key>accelerate</key>
			<string>10</string>
			<key>angle</key>
			<string>20</string>
			<key>bulletId</key>
			<string>0</string>
			<key>bullet_firing_frequency</key>
			<string>0</string>
			<key>burst_rate</key>
			<string>2</string>
			<key>limit_burst_rate</key>
			<string>7</string>
			<key>shells_affect_rates</key>
			<string>0.3</string>
			<key>speed</key>
			<string>6</string>
			<key>time</key>
			<string>2</string>
			<key>type</key>
			<string>2</string>
		</dict>
		<key>enemy8</key>
		<dict>
			<key>accelerate</key>
			<string>10</string>
			<key>angle</key>
			<string>15</string>
			<key>bulletId</key>
			<string>0</string>
			<key>bullet_firing_frequency</key>
			<string>0</string>
			<key>burst_rate</key>
			<string>1</string>
			<key>id</key>
			<string>8</string>
			<key>life</key>
			<string>0</string>
			<key>limit_burst_rate</key>
			<string>6</string>
			<key>name</key>
			<string>0</string>
			<key>numerical</key>
			<string>50</string>
			<key>shells_affect_rates</key>
			<string>0.2</string>
			<key>speed</key>
			<string>4</string>
			<key>time</key>
			<string>4</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<key>enemy9</key>
		<dict>
			<key>name</key>
			<string>0</string>
			<key>id</key>
			<string>9</string>
			<key>numerical</key>
			<string>75</string>
			<key>accelerate</key>
			<string>10</string>
			<key>angle</key>
			<string>10</string>
			<key>bulletId</key>
			<string>0</string>
			<key>bullet_firing_frequency</key>
			<string>0</string>
			<key>burst_rate</key>
			<string>0.5</string>
			<key>life</key>
			<string>0</string>
			<key>limit_burst_rate</key>
			<string>4</string>
			<key>shells_affect_rates</key>
			<string>0.1</string>
			<key>speed</key>
			<string>6</string>
			<key>time</key>
			<string>4</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<key>enemy10</key>
		<dict>
			<key>name</key>
			<string>0</string>
			<key>id</key>
			<string>10</string>
			<key>numerical</key>
			<string>100</string>
			<key>life</key>
			<string>0</string>
			<key>accelerate</key>
			<string>0</string>
			<key>angle</key>
			<string>10</string>
			<key>bulletId</key>
			<string>0</string>
			<key>bullet_firing_frequency</key>
			<string>0</string>
			<key>burst_rate</key>
			<string>0.1</string>
			<key>limit_burst_rate</key>
			<string>3</string>
			<key>shells_affect_rates</key>
			<string>0.05</string>
			<key>speed</key>
			<string>6</string>
			<key>time</key>
			<string>5</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<key>enemy11</key>
		<dict>
			<key>name</key>
			<string>攻击鱼小鱼人</string>
			<key>id</key>
			<string>11</string>
			<key>numerical</key>
			<string>30</string>
			<key>life</key>
			<string>0</string>
			<key>accelerate</key>
			<string>0</string>
			<key>angle</key>
			<string>15</string>
			<key>bulletId</key>
			<string>11</string>
			<key>bullet_firing_frequency</key>
			<string>3</string>
			<key>burst_rate</key>
			<string>5</string>
			<key>limit_burst_rate</key>
			<string>15</string>
			<key>shells_affect_rates</key>
			<string>0.2</string>
			<key>speed</key>
			<string>6</string>
			<key>time</key>
			<string>4</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<key>enemy12</key>
		<dict>
			<key>accelerate</key>
			<string>0</string>
			<key>angle</key>
			<string>15</string>
			<key>bulletId</key>
			<string>12</string>
			<key>bullet_firing_frequency</key>
			<string>3</string>
			<key>burst_rate</key>
			<string>12</string>
			<key>id</key>
			<string>12</string>
			<key>life</key>
			<string>0</string>
			<key>limit_burst_rate</key>
			<string>37</string>
			<key>name</key>
			<string>0</string>
			<key>numerical</key>
			<string>10</string>
			<key>shells_affect_rates</key>
			<string>0.8</string>
			<key>speed</key>
			<string>6</string>
			<key>time</key>
			<string>4</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<key>enemy13</key>
		<dict>
			<key>accelerate</key>
			<string>0</string>
			<key>angle</key>
			<string>15</string>
			<key>bulletId</key>
			<string>13</string>
			<key>bullet_firing_frequency</key>
			<string>3</string>
			<key>burst_rate</key>
			<string>10</string>
			<key>id</key>
			<string>13</string>
			<key>life</key>
			<string>0</string>
			<key>limit_burst_rate</key>
			<string>30</string>
			<key>name</key>
			<string>0</string>
			<key>numerical</key>
			<string>20</string>
			<key>shells_affect_rates</key>
			<string>0.6</string>
			<key>speed</key>
			<string>6</string>
			<key>time</key>
			<string>4</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<key>enemy14</key>
		<dict>
			<key>accelerate</key>
			<string>0</string>
			<key>angle</key>
			<string>15</string>
			<key>bulletId</key>
			<string>14</string>
			<key>bullet_firing_frequency</key>
			<string>3</string>
			<key>burst_rate</key>
			<string>12</string>
			<key>id</key>
			<string>14</string>
			<key>life</key>
			<string>0</string>
			<key>limit_burst_rate</key>
			<string>22</string>
			<key>name</key>
			<string>0</string>
			<key>numerical</key>
			<string>10</string>
			<key>shells_affect_rates</key>
			<string>0.8</string>
			<key>speed</key>
			<string>6</string>
			<key>time</key>
			<string>4</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<key>enemy15</key>
		<dict>
			<key>accelerate</key>
			<string>0</string>
			<key>angle</key>
			<string>15</string>
			<key>bulletId</key>
			<string>0</string>
			<key>bullet_firing_frequency</key>
			<string>0</string>
			<key>burst_rate</key>
			<string>5</string>
			<key>id</key>
			<string>15</string>
			<key>life</key>
			<string>0</string>
			<key>limit_burst_rate</key>
			<string>15</string>
			<key>name</key>
			<string>0</string>
			<key>numerical</key>
			<string>10</string>
			<key>shells_affect_rates</key>
			<string>0.4</string>
			<key>speed</key>
			<string>6</string>
			<key>time</key>
			<string>4</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<key>enemy16</key>
		<dict>
			<key>accelerate</key>
			<string>0</string>
			<key>angle</key>
			<string>1</string>
			<key>bulletId</key>
			<string>0</string>
			<key>bullet_firing_frequency</key>
			<string>0</string>
			<key>burst_rate</key>
			<string>0</string>
			<key>id</key>
			<string>16</string>
			<key>life</key>
			<string>0</string>
			<key>limit_burst_rate</key>
			<string>0</string>
			<key>name</key>
			<string>美人鱼</string>
			<key>numerical</key>
			<string>0</string>
			<key>shells_affect_rates</key>
			<string>0</string>
			<key>speed</key>
			<string>6</string>
			<key>time</key>
			<string>0</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<key>enemy17</key>
		<dict>
			<key>accelerate</key>
			<string>0</string>
			<key>angle</key>
			<string>1</string>
			<key>bulletId</key>
			<string>0</string>
			<key>bullet_firing_frequency</key>
			<string>0</string>
			<key>burst_rate</key>
			<string>0</string>
			<key>id</key>
			<string>17</string>
			<key>life</key>
			<string>0</string>
			<key>limit_burst_rate</key>
			<string>0</string>
			<key>name</key>
			<string>美杜莎</string>
			<key>numerical</key>
			<string>100</string>
			<key>shells_affect_rates</key>
			<string>0.1</string>
			<key>speed</key>
			<string>6</string>
			<key>time</key>
			<string>0</string>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>enemy18</key>
		<dict>
			<key>accelerate</key>
			<string>0</string>
			<key>angle</key>
			<string>1</string>
			<key>bulletId</key>
			<string>18</string>
			<key>bullet_firing_frequency</key>
			<string>6</string>
			<key>burst_rate</key>
			<string>0</string>
			<key>id</key>
			<string>18</string>
			<key>life</key>
			<string>100</string>
			<key>limit_burst_rate</key>
			<string>0</string>
			<key>name</key>
			<string>章鱼 type = 3为boss</string>
			<key>numerical</key>
			<string>500</string>
			<key>shells_affect_rates</key>
			<string>0.3</string>
			<key>speed</key>
			<string>6</string>
			<key>time</key>
			<string>0</string>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>enemy19</key>
		<dict>
			<key>name</key>
			<string>宝石星星</string>
			<key>id</key>
			<string>19</string>
			<key>type</key>
			<string>3</string>
			<key>numerical</key>
			<string>0</string>
			<key>life</key>
			<string>100</string>
			<key>accelerate</key>
			<string>0</string>
			<key>angle</key>
			<string>20</string>
			<key>bulletId</key>
			<string>19</string>
			<key>bullet_firing_frequency</key>
			<string>5</string>
			<key>burst_rate</key>
			<string>0</string>
			<key>limit_burst_rate</key>
			<string>0</string>
			<key>shells_affect_rates</key>
			<string>0.15</string>
			<key>speed</key>
			<string>6</string>
			<key>time</key>
			<string>5</string>
		</dict>
		<key>enemy20</key>
		<dict>
			<key>name</key>
			<string>波塞冬</string>
			<key>id</key>
			<string>20</string>
			<key>type</key>
			<string>3</string>
			<key>life</key>
			<string>100</string>
			<key>accelerate</key>
			<string>0</string>
			<key>angle</key>
			<string>1</string>
			<key>bulletId</key>
			<string>0</string>
			<key>bullet_firing_frequency</key>
			<string>5</string>
			<key>burst_rate</key>
			<string>0</string>
			<key>limit_burst_rate</key>
			<string>0</string>
			<key>numerical</key>
			<string>0</string>
			<key>shells_affect_rates</key>
			<string>0.03</string>
			<key>speed</key>
			<string>6</string>
			<key>time</key>
			<string>0</string>
		</dict>
	</dict>
</dict>
</plist>
