<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>goods1</key>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>name</key>
		<string>暴击翻倍</string>
		<key>type</key>
		<string>1</string>
		<key>rate</key>
		<string>0.2</string>
		<key>angle</key>
		<string>0.0</string>
		<key>energe</key>
		<string>0</string>
	</dict>
	<key>goods2</key>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>name</key>
		<string>生命恢复</string>
		<key>type</key>
		<string>1</string>
		<key>rate</key>
		<string>0.2</string>
		<key>angle</key>
		<string>270.0</string>
		<key>energe</key>
		<string>0</string>
	</dict>
	<key>goods3</key>
	<dict>
		<key>id</key>
		<string>3</string>
		<key>name</key>
		<string>冰河世纪</string>
		<key>type</key>
		<string>1</string>
		<key>rate</key>
		<string>0.2</string>
		<key>angle</key>
		<string>90.0</string>
		<key>energe</key>
		<string>0</string>
	</dict>
	<key>goods4</key>
	<dict>
		<key>id</key>
		<string>4</string>
		<key>name</key>
		<string>全屏秒怪</string>
		<key>type</key>
		<string>1</string>
		<key>rate</key>
		<string>0.05</string>
		<key>angle</key>
		<string>180.0</string>
		<key>energe</key>
		<string>0</string>
	</dict>
	<key>goods5</key>
	<dict>
		<key>id</key>
		<string>5</string>
		<key>name</key>
		<string>10能量</string>
		<key>type</key>
		<string>2</string>
		<key>rate</key>
		<string>100%</string>
		<key>angle</key>
		<string>45.0</string>
		<key>energe</key>
		<string>10</string>
	</dict>
	<key>goods6</key>
	<dict>
		<key>id</key>
		<string>6</string>
		<key>name</key>
		<string>50能量</string>
		<key>type</key>
		<string>2</string>
		<key>rate</key>
		<string>100%</string>
		<key>angle</key>
		<string>315.0</string>
		<key>energe</key>
		<string>50</string>
	</dict>
	<key>goods7</key>
	<dict>
		<key>id</key>
		<string>7</string>
		<key>name</key>
		<string>100能量</string>
		<key>type</key>
		<string>2</string>
		<key>rate</key>
		<string>100%</string>
		<key>angle</key>
		<string>135.0</string>
		<key>energe</key>
		<string>100</string>
	</dict>
	<key>goods8</key>
	<dict>
		<key>id</key>
		<string>8</string>
		<key>name</key>
		<string>200能量</string>
		<key>type</key>
		<string>2</string>
		<key>rate</key>
		<string>100%</string>
		<key>angle</key>
		<string>225.0</string>
		<key>energe</key>
		<string>200</string>
	</dict>
</dict>
</plist>
