<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>homepage001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,582},{409,153}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{409,153}}</string>
                <key>sourceSize</key>
                <string>{409,161}</string>
            </dict>
            <key>homepage002.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,795},{173,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{173,58}}</string>
                <key>sourceSize</key>
                <string>{185,58}</string>
            </dict>
            <key>homepage002b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,910},{173,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{173,58}}</string>
                <key>sourceSize</key>
                <string>{185,58}</string>
            </dict>
            <key>homepage003.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,736},{173,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{173,58}}</string>
                <key>sourceSize</key>
                <string>{185,58}</string>
            </dict>
            <key>homepage003b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,851},{173,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{173,58}}</string>
                <key>sourceSize</key>
                <string>{185,58}</string>
            </dict>
            <key>homepage004.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,736},{173,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{173,58}}</string>
                <key>sourceSize</key>
                <string>{185,58}</string>
            </dict>
            <key>homepage004b.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,677},{173,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{173,58}}</string>
                <key>sourceSize</key>
                <string>{185,58}</string>
            </dict>
            <key>homepage005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,736},{173,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{173,58}}</string>
                <key>sourceSize</key>
                <string>{185,58}</string>
            </dict>
            <key>homepage005b.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,503},{173,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{173,58}}</string>
                <key>sourceSize</key>
                <string>{185,58}</string>
            </dict>
            <key>homepage007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{580,419}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,419}}</string>
                <key>sourceSize</key>
                <string>{580,419}</string>
            </dict>
            <key>homepage040.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,167},{73,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{73,72}}</string>
                <key>sourceSize</key>
                <string>{83,82}</string>
            </dict>
            <key>homepage041.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,94},{73,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{73,72}}</string>
                <key>sourceSize</key>
                <string>{83,82}</string>
            </dict>
            <key>homeyu000.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>homeyu001.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,969},{49,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{49,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>homeyu002.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,969},{53,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{53,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>homeyu003.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,450},{59,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{59,52}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>homeyu004.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,344},{61,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{61,52}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>homeyu005.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,240},{65,50}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>homeyu006.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,291},{61,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{61,52}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>homeyu007.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,397},{59,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{59,52}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>homeyu008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,969},{53,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{53,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>homepage.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:345027b1fed4c2824fec05f6aa1a25bb$</string>
            <key>textureFileName</key>
            <string>homepage.png</string>
        </dict>
    </dict>
</plist>
