<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>achievement002.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,428},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>achievement002b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,428},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>achievement003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,258},{169,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{169,256}}</string>
                <key>sourceSize</key>
                <string>{169,258}</string>
            </dict>
            <key>achievement004.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,493},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>achievement005.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,478},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>achievement012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,478},{23,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{23,27}}</string>
                <key>sourceSize</key>
                <string>{23,31}</string>
            </dict>
            <key>achievement013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{169,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{169,256}}</string>
                <key>sourceSize</key>
                <string>{169,258}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>achievement.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc49aa4213a1a04e2888af2fbc35fdb1$</string>
            <key>textureFileName</key>
            <string>achievement.png</string>
        </dict>
    </dict>
</plist>
