<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>achievement006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,158},{83,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{83,82}}</string>
                <key>sourceSize</key>
                <string>{83,86}</string>
            </dict>
            <key>achievement011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{368,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,156}}</string>
                <key>sourceSize</key>
                <string>{368,156}</string>
            </dict>
            <key>achievement012.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,158},{23,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{23,27}}</string>
                <key>sourceSize</key>
                <string>{23,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>achievement1.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d121bffcf017b177b098f3b38646d230$</string>
            <key>textureFileName</key>
            <string>achievement1.png</string>
        </dict>
    </dict>
</plist>
