<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blood001.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,251},{114,95}}</string>
                <key>offset</key>
                <string>{7,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,40},{114,95}}</string>
                <key>sourceSize</key>
                <string>{154,135}</string>
            </dict>
            <key>blood002.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,366},{102,89}}</string>
                <key>offset</key>
                <string>{9,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,46},{102,89}}</string>
                <key>sourceSize</key>
                <string>{154,135}</string>
            </dict>
            <key>blood003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,251},{118,87}}</string>
                <key>offset</key>
                <string>{9,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,48},{118,87}}</string>
                <key>sourceSize</key>
                <string>{154,135}</string>
            </dict>
            <key>blood004.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,242},{102,87}}</string>
                <key>offset</key>
                <string>{5,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,48},{102,87}}</string>
                <key>sourceSize</key>
                <string>{154,135}</string>
            </dict>
            <key>blood005.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1},{114,89}}</string>
                <key>offset</key>
                <string>{7,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,46},{114,89}}</string>
                <key>sourceSize</key>
                <string>{154,135}</string>
            </dict>
            <key>blood006.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,127},{114,89}}</string>
                <key>offset</key>
                <string>{3,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,46},{114,89}}</string>
                <key>sourceSize</key>
                <string>{154,135}</string>
            </dict>
            <key>blood007.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1},{94,97}}</string>
                <key>offset</key>
                <string>{8,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,38},{94,97}}</string>
                <key>sourceSize</key>
                <string>{154,135}</string>
            </dict>
            <key>blood008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,370},{114,111}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,24},{114,111}}</string>
                <key>sourceSize</key>
                <string>{154,135}</string>
            </dict>
            <key>blood009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{114,125}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{114,125}}</string>
                <key>sourceSize</key>
                <string>{154,135}</string>
            </dict>
            <key>blood010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,127},{110,123}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,12},{110,123}}</string>
                <key>sourceSize</key>
                <string>{154,135}</string>
            </dict>
            <key>blood011.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,116},{100,73}}</string>
                <key>offset</key>
                <string>{-27,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{100,73}}</string>
                <key>sourceSize</key>
                <string>{154,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>blood.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5c706dc45bae62f4d7664335deea806$</string>
            <key>textureFileName</key>
            <string>blood.png</string>
        </dict>
    </dict>
</plist>
