<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb01001.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,69},{24,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,38}</string>
            </dict>
            <key>bomb01002.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,29},{24,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,38}</string>
            </dict>
            <key>bomb01003.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,26},{24,32}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,32}}</string>
                <key>sourceSize</key>
                <string>{24,38}</string>
            </dict>
            <key>bomb02001.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1},{24,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{24,34}</string>
            </dict>
            <key>bomb02002.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,220},{24,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,34}}</string>
                <key>sourceSize</key>
                <string>{24,34}</string>
            </dict>
            <key>bomb02003.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,1},{24,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,30}}</string>
                <key>sourceSize</key>
                <string>{24,34}</string>
            </dict>
            <key>bomb03001.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,51},{27,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,42}</string>
            </dict>
            <key>bomb03002.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,26},{27,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,42}}</string>
                <key>sourceSize</key>
                <string>{27,42}</string>
            </dict>
            <key>bomb03003.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1},{27,38}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,38}}</string>
                <key>sourceSize</key>
                <string>{27,42}</string>
            </dict>
            <key>bomb04001.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,119},{39,50}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,50}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>bomb04002.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,193},{39,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{39,52}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>bomb04003.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1},{39,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{39,46}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>bomb05001.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,220},{33,43}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{33,43}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>bomb05002.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,170},{37,49}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{37,49}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>bomb05003.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,115},{41,45}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,45}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>bomb05004.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,69},{41,45}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{41,45}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>bomb05005.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,67},{43,51}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{43,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>bomb05006.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,1},{41,51}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>bomb06001.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,193},{38,53}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{38,53}}</string>
                <key>sourceSize</key>
                <string>{52,65}</string>
            </dict>
            <key>bomb06002.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,131},{44,61}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{44,61}}</string>
                <key>sourceSize</key>
                <string>{52,65}</string>
            </dict>
            <key>bomb06003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,195},{48,57}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,57}}</string>
                <key>sourceSize</key>
                <string>{52,65}</string>
            </dict>
            <key>bomb06004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,67},{48,63}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{48,63}}</string>
                <key>sourceSize</key>
                <string>{52,65}</string>
            </dict>
            <key>bomb06005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{50,65}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{50,65}}</string>
                <key>sourceSize</key>
                <string>{52,65}</string>
            </dict>
            <key>bomb06006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,131},{46,63}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{46,63}}</string>
                <key>sourceSize</key>
                <string>{52,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bomb.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0337f2c8a5dd99df37a0fc5ee5be1dc2$</string>
            <key>textureFileName</key>
            <string>bomb.png</string>
        </dict>
    </dict>
</plist>
