<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mainmenu031.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,672},{112,159}}</string>
                <key>offset</key>
                <string>{-11,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,56},{112,159}}</string>
                <key>sourceSize</key>
                <string>{344,215}</string>
            </dict>
            <key>mainmenu032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,579},{112,159}}</string>
                <key>offset</key>
                <string>{-11,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,56},{112,159}}</string>
                <key>sourceSize</key>
                <string>{344,215}</string>
            </dict>
            <key>mainmenu033.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,559},{112,159}}</string>
                <key>offset</key>
                <string>{-11,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,56},{112,159}}</string>
                <key>sourceSize</key>
                <string>{344,215}</string>
            </dict>
            <key>mainmenu034.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,559},{112,159}}</string>
                <key>offset</key>
                <string>{-11,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,56},{112,159}}</string>
                <key>sourceSize</key>
                <string>{344,215}</string>
            </dict>
            <key>mainmenu035.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,204},{112,159}}</string>
                <key>offset</key>
                <string>{-11,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,56},{112,159}}</string>
                <key>sourceSize</key>
                <string>{344,215}</string>
            </dict>
            <key>mainmenu036.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1},{202,163}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,52},{202,163}}</string>
                <key>sourceSize</key>
                <string>{344,215}</string>
            </dict>
            <key>mainmenu036b.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,503},{202,55}}</string>
                <key>offset</key>
                <string>{1,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,51},{202,55}}</string>
                <key>sourceSize</key>
                <string>{344,215}</string>
            </dict>
            <key>mainmenu037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,692},{112,101}}</string>
                <key>offset</key>
                <string>{-11,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,114},{112,101}}</string>
                <key>sourceSize</key>
                <string>{344,215}</string>
            </dict>
            <key>mainmenu_effect031.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,317},{216,83}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,57},{216,83}}</string>
                <key>sourceSize</key>
                <string>{344,215}</string>
            </dict>
            <key>mainmenu_effect032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,487},{222,91}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,55},{222,91}}</string>
                <key>sourceSize</key>
                <string>{344,215}</string>
            </dict>
            <key>mainmenu_effect033.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,401},{226,101}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,50},{226,101}}</string>
                <key>sourceSize</key>
                <string>{344,215}</string>
            </dict>
            <key>mainmenu_effect034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,367},{256,119}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,40},{256,119}}</string>
                <key>sourceSize</key>
                <string>{344,215}</string>
            </dict>
            <key>mainmenu_effect035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,237},{290,129}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,32},{290,129}}</string>
                <key>sourceSize</key>
                <string>{344,215}</string>
            </dict>
            <key>mainmenu_effect036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,141},{308,95}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,83},{308,95}}</string>
                <key>sourceSize</key>
                <string>{344,215}</string>
            </dict>
            <key>mainmenu_effect037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{338,139}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,22},{338,139}}</string>
                <key>sourceSize</key>
                <string>{344,215}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cannon.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a14dfcc6d2b7eabddccaa0bd3963bf24$</string>
            <key>textureFileName</key>
            <string>cannon.png</string>
        </dict>
    </dict>
</plist>
