<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_11_1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,1},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>bullet_12_1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,55},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>bullet_13_1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>bullet_14_1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,53},{27,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{27,51}}</string>
                <key>sourceSize</key>
                <string>{29,51}</string>
            </dict>
            <key>bullet_14_1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,1},{27,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{27,51}}</string>
                <key>sourceSize</key>
                <string>{29,51}</string>
            </dict>
            <key>bullet_14_1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,55},{27,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{27,51}}</string>
                <key>sourceSize</key>
                <string>{29,51}</string>
            </dict>
            <key>bullet_14_1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,55},{27,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{27,51}}</string>
                <key>sourceSize</key>
                <string>{29,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishBullet.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8466629d773da5fd685c2dc5488bb574$</string>
            <key>textureFileName</key>
            <string>fishBullet.png</string>
        </dict>
    </dict>
</plist>
