<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>exit002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,192},{277,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{277,36}}</string>
                <key>sourceSize</key>
                <string>{277,40}</string>
            </dict>
            <key>exit005.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,643},{114,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{114,50}}</string>
                <key>sourceSize</key>
                <string>{114,54}</string>
            </dict>
            <key>exit006.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,509},{114,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{114,50}}</string>
                <key>sourceSize</key>
                <string>{114,54}</string>
            </dict>
            <key>gamegoal001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{346,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,61}}</string>
                <key>sourceSize</key>
                <string>{348,61}</string>
            </dict>
            <key>gamegoal002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,363},{164,174}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,174}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>gamegoal003.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,334},{174,170}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{174,170}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>gamegoal004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,630},{114,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{114,50}}</string>
                <key>sourceSize</key>
                <string>{114,54}</string>
            </dict>
            <key>gamegoal005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,579},{114,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{114,50}}</string>
                <key>sourceSize</key>
                <string>{114,54}</string>
            </dict>
            <key>gamegoal006.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1},{16,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>gamegoal008.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1},{332,145}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{332,145}}</string>
                <key>sourceSize</key>
                <string>{332,147}</string>
            </dict>
            <key>gamegoal011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,229},{243,133}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{243,133}}</string>
                <key>sourceSize</key>
                <string>{251,139}</string>
            </dict>
            <key>gamegoal012.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,528},{114,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,50}}</string>
                <key>sourceSize</key>
                <string>{114,50}</string>
            </dict>
            <key>gamegoal013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,528},{114,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,50}}</string>
                <key>sourceSize</key>
                <string>{114,50}</string>
            </dict>
            <key>gamegoal014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,63},{333,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{333,128}}</string>
                <key>sourceSize</key>
                <string>{333,132}</string>
            </dict>
            <key>mubiao001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,681},{107,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{107,60}}</string>
                <key>sourceSize</key>
                <string>{111,60}</string>
            </dict>
            <key>mubiao002.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,516},{109,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{109,60}}</string>
                <key>sourceSize</key>
                <string>{111,60}</string>
            </dict>
            <key>mubiao003.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,475},{109,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{109,60}}</string>
                <key>sourceSize</key>
                <string>{111,60}</string>
            </dict>
            <key>mubiao004.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,363},{111,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,60}}</string>
                <key>sourceSize</key>
                <string>{111,60}</string>
            </dict>
            <key>mubiao005.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,192},{111,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,60}}</string>
                <key>sourceSize</key>
                <string>{111,60}</string>
            </dict>
            <key>mubiao006.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,585},{107,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{107,60}}</string>
                <key>sourceSize</key>
                <string>{111,60}</string>
            </dict>
            <key>mubiao007.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,304},{135,94}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{135,94}}</string>
                <key>sourceSize</key>
                <string>{139,98}</string>
            </dict>
            <key>mubiao008.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,560},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{38,36}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>win005.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,440},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>winarrow007.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,742},{41,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,50}}</string>
                <key>sourceSize</key>
                <string>{43,50}</string>
            </dict>
            <key>winarrow007b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,742},{41,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,50}}</string>
                <key>sourceSize</key>
                <string>{43,50}</string>
            </dict>
            <key>winarrow008.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,551},{41,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{41,50}}</string>
                <key>sourceSize</key>
                <string>{43,50}</string>
            </dict>
            <key>winarrow008b.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,509},{41,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{41,50}}</string>
                <key>sourceSize</key>
                <string>{43,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gamegoal.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00e009c15dcf54587aad6338ed00eb73$</string>
            <key>textureFileName</key>
            <string>gamegoal.png</string>
        </dict>
    </dict>
</plist>
