<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>iceage001.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,574},{198,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{198,55}}</string>
                <key>sourceSize</key>
                <string>{200,55}</string>
            </dict>
            <key>iceage002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,423},{218,160}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,56},{218,160}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>iceage003.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1},{206,188}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{206,188}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>iceage004.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,772},{134,161}}</string>
                <key>offset</key>
                <string>{5,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,54},{134,161}}</string>
                <key>sourceSize</key>
                <string>{148,225}</string>
            </dict>
            <key>iceage005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,772},{134,187}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,29},{134,187}}</string>
                <key>sourceSize</key>
                <string>{148,225}</string>
            </dict>
            <key>iceage006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,584},{190,187}}</string>
                <key>offset</key>
                <string>{24,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,40},{190,187}}</string>
                <key>sourceSize</key>
                <string>{388,341}</string>
            </dict>
            <key>iceage007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,273},{258,149}}</string>
                <key>offset</key>
                <string>{8,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,77},{258,149}}</string>
                <key>sourceSize</key>
                <string>{388,341}</string>
            </dict>
            <key>iceage008.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,388},{248,185}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,83},{248,185}}</string>
                <key>sourceSize</key>
                <string>{388,341}</string>
            </dict>
            <key>iceage009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{292,271}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,51},{292,271}}</string>
                <key>sourceSize</key>
                <string>{388,341}</string>
            </dict>
            <key>iceage010.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,190},{198,197}}</string>
                <key>offset</key>
                <string>{8,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,95},{198,197}}</string>
                <key>sourceSize</key>
                <string>{388,341}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>iceage.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83d503d6ecc924979ef8d8985cbb0a56$</string>
            <key>textureFileName</key>
            <string>iceage.png</string>
        </dict>
    </dict>
</plist>
