<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>juneng1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,276},{33,25}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{33,25}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>juneng1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,197},{27,39}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,5},{27,39}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>juneng1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,169},{27,41}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{27,41}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>juneng1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,222},{35,35}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>juneng1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,230},{35,23}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{35,23}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>juneng1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,254},{27,33}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{27,33}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>juneng1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,223},{23,29}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,15},{23,29}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>juneng1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,111},{33,25}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{33,25}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>juneng2001.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,169},{32,26}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{32,26}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>juneng2002.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,195},{26,40}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,11},{26,40}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>juneng2003.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,168},{26,42}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,6},{26,42}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>juneng2004.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,242},{34,34}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{34,34}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>juneng2005.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,241},{34,24}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{34,24}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>juneng2006.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,196},{26,32}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{26,32}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>juneng2007.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,1},{22,30}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,21},{22,30}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>juneng2008.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,206},{34,24}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,29},{34,24}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>juneng3001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,169},{27,41}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,9},{27,41}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>juneng3002.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,206},{35,35}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{35,35}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>juneng3003.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,206},{35,23}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{35,23}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>juneng3004.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,247},{27,33}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{27,33}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>juneng3005.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,145},{23,29}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,24},{23,29}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>juneng3006.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,77},{33,25}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,30},{33,25}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>juneng3007.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,43},{33,25}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,29},{33,25}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>juneng3008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,197},{27,39}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,14},{27,39}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>juneng4001.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,276},{33,25}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{33,25}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>juneng4002.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,197},{27,39}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,5},{27,39}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>juneng4003.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,169},{27,41}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{27,41}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>juneng4004.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,222},{35,35}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>juneng4005.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,230},{35,23}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{35,23}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>juneng4006.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,254},{27,33}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{27,33}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>juneng4007.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,223},{23,29}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,15},{23,29}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>juneng4008.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,111},{33,25}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{33,25}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>juneng5001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,86},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{44,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>juneng5002.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,84},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{44,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>juneng5003.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,43},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{44,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>juneng5004.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,43},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{42,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>juneng5005.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,1},{40,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{40,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>juneng5006.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,86},{40,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{40,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>juneng5007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{46,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{46,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>juneng5008.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,85},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{44,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>juneng5009.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,165},{42,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{42,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>juneng5010.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,84},{40,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{40,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>juneng5011.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,84},{40,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{40,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>juneng5012.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,167},{38,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{38,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>juneng6001.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,127},{43,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{43,41}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>juneng6002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,44},{45,41}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{45,41}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>juneng6003.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,43},{41,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{41,45}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>juneng6004.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,1},{41,45}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{41,45}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>juneng6005.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,127},{39,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{39,43}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>juneng6006.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,42},{45,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{45,41}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>juneng6007.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,1},{45,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{45,41}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>juneng6008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,129},{43,39}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{43,39}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>juneng6009.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1},{41,45}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{41,45}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>juneng6010.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1},{41,45}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{41,45}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>juneng6011.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,125},{39,43}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{39,43}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>juneng6012.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,126},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{43,41}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>juneng.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b26c1910d19dbee88e4cdd19358f83aa$</string>
            <key>textureFileName</key>
            <string>juneng.png</string>
        </dict>
    </dict>
</plist>
