<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>luck003.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,94},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>luck004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,365},{88,86}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{88,86}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>luck005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,94},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>luck006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,187},{88,90}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{88,90}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>luck007.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>luck008.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,187},{88,88}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{88,88}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>luck009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>luck010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,276},{86,88}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{86,88}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>luck1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6608ce7f42f9d1c4d06bc28c048dbfc8$</string>
            <key>textureFileName</key>
            <string>luck1.png</string>
        </dict>
    </dict>
</plist>
