<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>luck000.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,581},{229,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,65}}</string>
                <key>sourceSize</key>
                <string>{229,65}</string>
            </dict>
            <key>luck001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{369,369}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,369}}</string>
                <key>sourceSize</key>
                <string>{369,371}</string>
            </dict>
            <key>luck002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,371},{330,330}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,330}}</string>
                <key>sourceSize</key>
                <string>{332,332}</string>
            </dict>
            <key>luck011.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,102},{127,129}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>luck012.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,230},{31,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,70}}</string>
                <key>sourceSize</key>
                <string>{31,70}</string>
            </dict>
            <key>luck013.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,513},{67,69}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,28},{67,69}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>luck020.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,455},{36,53}}</string>
                <key>offset</key>
                <string>{-2,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,100},{36,53}}</string>
                <key>sourceSize</key>
                <string>{112,153}</string>
            </dict>
            <key>luck021.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,371},{36,83}}</string>
                <key>offset</key>
                <string>{-2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,70},{36,83}}</string>
                <key>sourceSize</key>
                <string>{112,153}</string>
            </dict>
            <key>luck022.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,336},{74,107}}</string>
                <key>offset</key>
                <string>{-6,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,46},{74,107}}</string>
                <key>sourceSize</key>
                <string>{112,153}</string>
            </dict>
            <key>luck023.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,1},{100,131}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,22},{100,131}}</string>
                <key>sourceSize</key>
                <string>{112,153}</string>
            </dict>
            <key>luck024.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,230},{108,105}}</string>
                <key>offset</key>
                <string>{2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{108,105}}</string>
                <key>sourceSize</key>
                <string>{112,153}</string>
            </dict>
            <key>luck025.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,513},{106,101}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{106,101}}</string>
                <key>sourceSize</key>
                <string>{112,153}</string>
            </dict>
            <key>luck026.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,411},{106,101}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{106,101}}</string>
                <key>sourceSize</key>
                <string>{112,153}</string>
            </dict>
            <key>luck027.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,1},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{112,153}</string>
            </dict>
            <key>luck028.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,411},{106,101}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{106,101}}</string>
                <key>sourceSize</key>
                <string>{112,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>luck.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e1113ea9d3e6c8e2bb7bb5f13dbef30$</string>
            <key>textureFileName</key>
            <string>luck.png</string>
        </dict>
    </dict>
</plist>
