<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bloodb001.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,445},{145,59}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{145,59}}</string>
                <key>sourceSize</key>
                <string>{161,73}</string>
            </dict>
            <key>bloodb002.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,382},{147,67}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{147,67}}</string>
                <key>sourceSize</key>
                <string>{161,73}</string>
            </dict>
            <key>bloodb003.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,246},{155,71}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{155,71}}</string>
                <key>sourceSize</key>
                <string>{161,73}</string>
            </dict>
            <key>bloodb004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,344},{161,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,73}}</string>
                <key>sourceSize</key>
                <string>{161,73}</string>
            </dict>
            <key>bloodb005.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,246},{155,71}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{155,71}}</string>
                <key>sourceSize</key>
                <string>{161,73}</string>
            </dict>
            <key>bloodb006.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,382},{147,67}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{147,67}}</string>
                <key>sourceSize</key>
                <string>{161,73}</string>
            </dict>
            <key>mainmenu001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{318,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,61}}</string>
                <key>sourceSize</key>
                <string>{318,63}</string>
            </dict>
            <key>mainmenu002.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,450},{131,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,30}}</string>
                <key>sourceSize</key>
                <string>{131,30}</string>
            </dict>
            <key>mainmenu0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,637},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mainmenu0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,620},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mainmenu003.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,481},{130,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,30}}</string>
                <key>sourceSize</key>
                <string>{130,30}</string>
            </dict>
            <key>mainmenu004.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,559},{126,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,33}}</string>
                <key>sourceSize</key>
                <string>{126,33}</string>
            </dict>
            <key>mainmenu005a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,544},{127,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,31}}</string>
                <key>sourceSize</key>
                <string>{127,31}</string>
            </dict>
            <key>mainmenu005a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,512},{127,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,31}}</string>
                <key>sourceSize</key>
                <string>{127,31}</string>
            </dict>
            <key>mainmenu005a3.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,537},{127,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,31}}</string>
                <key>sourceSize</key>
                <string>{127,31}</string>
            </dict>
            <key>mainmenu005a4.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,505},{127,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,31}}</string>
                <key>sourceSize</key>
                <string>{127,31}</string>
            </dict>
            <key>mainmenu005b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,459},{143,41}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{143,41}}</string>
                <key>sourceSize</key>
                <string>{169,63}</string>
            </dict>
            <key>mainmenu005b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,358},{149,47}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{149,47}}</string>
                <key>sourceSize</key>
                <string>{169,63}</string>
            </dict>
            <key>mainmenu005b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,289},{155,53}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{155,53}}</string>
                <key>sourceSize</key>
                <string>{169,63}</string>
            </dict>
            <key>mainmenu005b4.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,184},{165,61}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{165,61}}</string>
                <key>sourceSize</key>
                <string>{169,63}</string>
            </dict>
            <key>mainmenu008.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,77},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,12}}</string>
                <key>sourceSize</key>
                <string>{8,12}</string>
            </dict>
            <key>mainmenu009.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,576},{60,50}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{60,50}}</string>
                <key>sourceSize</key>
                <string>{66,62}</string>
            </dict>
            <key>mainmenu009a.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,508},{60,50}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{60,50}}</string>
                <key>sourceSize</key>
                <string>{66,62}</string>
            </dict>
            <key>mainmenu010.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,576},{66,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,62}</string>
            </dict>
            <key>mainmenu011.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,88},{199,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{199,41}}</string>
                <key>sourceSize</key>
                <string>{199,45}</string>
            </dict>
            <key>mainmenu013.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,77},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,10}}</string>
                <key>sourceSize</key>
                <string>{8,10}</string>
            </dict>
            <key>mainmenu014a.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,313},{86,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{86,81}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>mainmenu014a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,231},{86,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{86,81}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>mainmenu014b.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,147},{86,83}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,83}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>mainmenu014b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,63},{86,83}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,83}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>mainmenu016.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,685},{50,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,53}}</string>
                <key>sourceSize</key>
                <string>{50,53}</string>
            </dict>
            <key>mainmenu017.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,678},{50,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,53}}</string>
                <key>sourceSize</key>
                <string>{50,53}</string>
            </dict>
            <key>mainmenu018.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,627},{50,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,53}}</string>
                <key>sourceSize</key>
                <string>{50,53}</string>
            </dict>
            <key>mainmenu019.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,569},{50,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,53}}</string>
                <key>sourceSize</key>
                <string>{50,53}</string>
            </dict>
            <key>mainmenu020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,63},{220,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{220,68}}</string>
                <key>sourceSize</key>
                <string>{222,70}</string>
            </dict>
            <key>mainmenu021.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,130},{187,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,53}}</string>
                <key>sourceSize</key>
                <string>{187,53}</string>
            </dict>
            <key>mainmenu022.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,77},{10,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,24}}</string>
                <key>sourceSize</key>
                <string>{10,24}</string>
            </dict>
            <key>mainmenu027.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,130},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>mainmenu060.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,450},{53,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,26}}</string>
                <key>sourceSize</key>
                <string>{53,26}</string>
            </dict>
            <key>mainmenuTask003.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,77},{10,18}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{10,18}}</string>
                <key>sourceSize</key>
                <string>{10,22}</string>
            </dict>
            <key>mainmenuTask004.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,63},{10,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,24}}</string>
                <key>sourceSize</key>
                <string>{10,24}</string>
            </dict>
            <key>mainmenuyu001.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,724},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{39,38}}</string>
                <key>sourceSize</key>
                <string>{53,42}</string>
            </dict>
            <key>mainmenuyu002.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,553},{45,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{45,40}}</string>
                <key>sourceSize</key>
                <string>{53,42}</string>
            </dict>
            <key>mainmenuyu003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,685},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{41,40}}</string>
                <key>sourceSize</key>
                <string>{53,42}</string>
            </dict>
            <key>mainmenuyu004.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,657},{43,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{43,38}}</string>
                <key>sourceSize</key>
                <string>{53,42}</string>
            </dict>
            <key>mainmenuyu005.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,726},{33,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{33,38}}</string>
                <key>sourceSize</key>
                <string>{53,42}</string>
            </dict>
            <key>mainmenuyu006.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,228},{41,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{41,36}}</string>
                <key>sourceSize</key>
                <string>{53,42}</string>
            </dict>
            <key>mainmenuyu007.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,685},{35,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{35,40}}</string>
                <key>sourceSize</key>
                <string>{53,42}</string>
            </dict>
            <key>mainmenuyu008.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,184},{43,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{43,36}}</string>
                <key>sourceSize</key>
                <string>{53,42}</string>
            </dict>
            <key>mainmenuyu009.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,613},{39,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{39,36}}</string>
                <key>sourceSize</key>
                <string>{53,42}</string>
            </dict>
            <key>mainmenuyu010.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,505},{53,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{53,34}}</string>
                <key>sourceSize</key>
                <string>{53,42}</string>
            </dict>
            <key>mainmenuyu011.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,395},{49,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{49,42}}</string>
                <key>sourceSize</key>
                <string>{53,42}</string>
            </dict>
            <key>mainmenuyu012.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,685},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{39,38}}</string>
                <key>sourceSize</key>
                <string>{53,42}</string>
            </dict>
            <key>mainmenuzi001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,418},{156,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,40}}</string>
                <key>sourceSize</key>
                <string>{156,40}</string>
            </dict>
            <key>mainmenuzi002.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,132},{156,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,40}}</string>
                <key>sourceSize</key>
                <string>{156,40}</string>
            </dict>
            <key>mainmenuzi_a_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,613},{46,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,43}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>mainmenuzi_a_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,548},{24,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{24,43}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>mainmenuzi_a_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,657},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>mainmenuzi_a_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,682},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>mainmenuzi_a_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,597},{46,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,43}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>mainmenuzi_a_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,657},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>mainmenuzi_a_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,597},{46,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,43}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>mainmenuzi_a_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,569},{46,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,43}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>mainmenuzi_a_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,641},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>mainmenuzi_a_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,569},{46,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,43}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>mainmenuzi_b_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,553},{46,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,43}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>mainmenuzi_b_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,504},{24,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{24,43}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>mainmenuzi_b_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,641},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>mainmenuzi_b_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,613},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>mainmenuzi_b_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,553},{46,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,43}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>mainmenuzi_b_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,638},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>mainmenuzi_b_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,395},{46,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,43}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>mainmenuzi_b_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,314},{46,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,43}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>mainmenuzi_b_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,594},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>mainmenuzi_b_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,270},{46,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,43}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>timeup001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,501},{139,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{139,51}}</string>
                <key>sourceSize</key>
                <string>{187,75}</string>
            </dict>
            <key>timeup002.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,318},{155,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{155,63}}</string>
                <key>sourceSize</key>
                <string>{187,75}</string>
            </dict>
            <key>timeup003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,276},{165,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{165,67}}</string>
                <key>sourceSize</key>
                <string>{187,75}</string>
            </dict>
            <key>timeup004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,204},{173,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{173,71}}</string>
                <key>sourceSize</key>
                <string>{187,75}</string>
            </dict>
            <key>timeup005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,132},{179,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{179,71}}</string>
                <key>sourceSize</key>
                <string>{187,75}</string>
            </dict>
            <key>timeup006.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1},{187,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,75}}</string>
                <key>sourceSize</key>
                <string>{187,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainmenu.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9b2b1b60b858fd2376ecc69ce4283f9$</string>
            <key>textureFileName</key>
            <string>mainmenu.png</string>
        </dict>
    </dict>
</plist>
