<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>net1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,211},{21,23}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{21,23}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>net1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,211},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,23}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>net1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,211},{21,23}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{21,23}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>net1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,211},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,23}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>net1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,211},{21,23}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{21,23}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>net1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,211},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,23}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>net2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,211},{34,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{34,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>net2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,211},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>net2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,211},{34,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{34,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>net2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,211},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>net2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,211},{34,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{34,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>net2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,211},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>net3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,193},{47,51}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{47,51}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>net3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,193},{51,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>net3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,193},{47,51}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{47,51}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>net3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,193},{51,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>net3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,193},{47,51}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{47,51}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>net3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,193},{51,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>net4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,68},{60,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{60,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>net4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1},{66,66}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>net4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,68},{60,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{60,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>net4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1},{66,66}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>net4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,68},{60,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{60,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>net4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1},{66,66}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>net5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1},{80,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{80,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>net5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,106},{84,86}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{84,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>net5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1},{80,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{80,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>net5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,106},{84,86}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{84,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>net5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1},{80,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{80,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>net5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,106},{84,86}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{84,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>net6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,106},{102,104}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{102,104}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>net6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{104,104}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{104,104}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>net6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,106},{102,104}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{102,104}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>net6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{104,104}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{104,104}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>net6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,106},{102,104}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{102,104}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>net6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{104,104}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{104,104}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>net.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abe7270b36ac1b6f34fe12e53929cb17$</string>
            <key>textureFileName</key>
            <string>net.png</string>
        </dict>
    </dict>
</plist>
