<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>number1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,319},{27,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,20},{27,43}}</string>
                <key>sourceSize</key>
                <string>{57,85}</string>
            </dict>
            <key>number1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,184},{35,59}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{35,59}}</string>
                <key>sourceSize</key>
                <string>{57,85}</string>
            </dict>
            <key>number1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,234},{43,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{43,65}}</string>
                <key>sourceSize</key>
                <string>{57,85}</string>
            </dict>
            <key>number1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,126},{57,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,85}}</string>
                <key>sourceSize</key>
                <string>{57,85}</string>
            </dict>
            <key>number1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,234},{43,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{43,65}}</string>
                <key>sourceSize</key>
                <string>{57,85}</string>
            </dict>
            <key>number1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,184},{35,59}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{35,59}}</string>
                <key>sourceSize</key>
                <string>{57,85}</string>
            </dict>
            <key>number2001.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,308},{31,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,22},{31,43}}</string>
                <key>sourceSize</key>
                <string>{63,87}</string>
            </dict>
            <key>number2002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,280},{43,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,14},{43,59}}</string>
                <key>sourceSize</key>
                <string>{63,87}</string>
            </dict>
            <key>number2003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,132},{49,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{49,67}}</string>
                <key>sourceSize</key>
                <string>{63,87}</string>
            </dict>
            <key>number2004.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,62},{63,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,87}}</string>
                <key>sourceSize</key>
                <string>{63,87}</string>
            </dict>
            <key>number2005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,132},{49,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{49,67}}</string>
                <key>sourceSize</key>
                <string>{63,87}</string>
            </dict>
            <key>number2006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,280},{43,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,14},{43,59}}</string>
                <key>sourceSize</key>
                <string>{63,87}</string>
            </dict>
            <key>number3001.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,288},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,22},{30,44}}</string>
                <key>sourceSize</key>
                <string>{60,88}</string>
            </dict>
            <key>number3002.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,185},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,14},{42,60}}</string>
                <key>sourceSize</key>
                <string>{60,88}</string>
            </dict>
            <key>number3003.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,138},{46,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{46,68}}</string>
                <key>sourceSize</key>
                <string>{60,88}</string>
            </dict>
            <key>number3004.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1},{60,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,88}}</string>
                <key>sourceSize</key>
                <string>{60,88}</string>
            </dict>
            <key>number3005.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,138},{46,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{46,68}}</string>
                <key>sourceSize</key>
                <string>{60,88}</string>
            </dict>
            <key>number3006.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,185},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,14},{42,60}}</string>
                <key>sourceSize</key>
                <string>{60,88}</string>
            </dict>
            <key>number4001.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,244},{34,43}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{34,43}}</string>
                <key>sourceSize</key>
                <string>{70,85}</string>
            </dict>
            <key>number4002.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,228},{46,59}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{46,59}}</string>
                <key>sourceSize</key>
                <string>{70,85}</string>
            </dict>
            <key>number4003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,182},{52,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{52,65}}</string>
                <key>sourceSize</key>
                <string>{70,85}</string>
            </dict>
            <key>number4004.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1},{68,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,85}}</string>
                <key>sourceSize</key>
                <string>{70,85}</string>
            </dict>
            <key>number4005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,182},{52,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{52,65}}</string>
                <key>sourceSize</key>
                <string>{70,85}</string>
            </dict>
            <key>number4006.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,228},{46,59}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{46,59}}</string>
                <key>sourceSize</key>
                <string>{70,85}</string>
            </dict>
            <key>number5001.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,275},{31,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{31,43}}</string>
                <key>sourceSize</key>
                <string>{63,85}</string>
            </dict>
            <key>number5002.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,278},{43,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{43,59}}</string>
                <key>sourceSize</key>
                <string>{63,85}</string>
            </dict>
            <key>number5003.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,184},{49,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{49,65}}</string>
                <key>sourceSize</key>
                <string>{63,85}</string>
            </dict>
            <key>number5004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,68},{63,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,85}}</string>
                <key>sourceSize</key>
                <string>{63,85}</string>
            </dict>
            <key>number5005.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,184},{49,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{49,65}}</string>
                <key>sourceSize</key>
                <string>{63,85}</string>
            </dict>
            <key>number5006.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,278},{43,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{43,59}}</string>
                <key>sourceSize</key>
                <string>{63,85}</string>
            </dict>
            <key>number6001.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,275},{32,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,22},{32,44}}</string>
                <key>sourceSize</key>
                <string>{66,88}</string>
            </dict>
            <key>number6002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,235},{44,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,14},{44,60}}</string>
                <key>sourceSize</key>
                <string>{66,88}</string>
            </dict>
            <key>number6003.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,87},{50,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{50,68}}</string>
                <key>sourceSize</key>
                <string>{66,88}</string>
            </dict>
            <key>number6004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{66,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,88}}</string>
                <key>sourceSize</key>
                <string>{66,88}</string>
            </dict>
            <key>number6005.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,87},{50,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{50,68}}</string>
                <key>sourceSize</key>
                <string>{66,88}</string>
            </dict>
            <key>number6006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,235},{44,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,14},{44,60}}</string>
                <key>sourceSize</key>
                <string>{66,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>numbera.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48868e3040e7060e05ca23faec6b0450$</string>
            <key>textureFileName</key>
            <string>numbera.png</string>
        </dict>
    </dict>
</plist>
