<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>payskill000.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,834},{208,57}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{208,57}}</string>
                <key>sourceSize</key>
                <string>{212,61}</string>
            </dict>
            <key>payskill001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,834},{179,240}}</string>
                <key>offset</key>
                <string>{-11,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,58},{179,240}}</string>
                <key>sourceSize</key>
                <string>{273,316}</string>
            </dict>
            <key>payskill002.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,551},{257,252}}</string>
                <key>offset</key>
                <string>{-4,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,56},{257,252}}</string>
                <key>sourceSize</key>
                <string>{273,316}</string>
            </dict>
            <key>payskill003.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1},{241,256}}</string>
                <key>offset</key>
                <string>{-5,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,55},{241,256}}</string>
                <key>sourceSize</key>
                <string>{273,316}</string>
            </dict>
            <key>payskill004.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,272},{219,290}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{219,290}}</string>
                <key>sourceSize</key>
                <string>{273,316}</string>
            </dict>
            <key>payskill005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,290},{243,274}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,26},{243,274}}</string>
                <key>sourceSize</key>
                <string>{273,316}</string>
            </dict>
            <key>payskill006.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,243},{235,254}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,39},{235,254}}</string>
                <key>sourceSize</key>
                <string>{273,316}</string>
            </dict>
            <key>payskill007.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1},{245,270}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,19},{245,270}}</string>
                <key>sourceSize</key>
                <string>{273,316}</string>
            </dict>
            <key>payskill008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,565},{245,268}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,29},{245,268}}</string>
                <key>sourceSize</key>
                <string>{273,316}</string>
            </dict>
            <key>payskill009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{235,288}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{235,288}}</string>
                <key>sourceSize</key>
                <string>{273,316}</string>
            </dict>
            <key>payskill010.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1},{227,276}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,13},{227,276}}</string>
                <key>sourceSize</key>
                <string>{273,316}</string>
            </dict>
            <key>payskill011.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,272},{233,278}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{233,278}}</string>
                <key>sourceSize</key>
                <string>{273,316}</string>
            </dict>
            <key>payskill012.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,492},{221,270}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{221,270}}</string>
                <key>sourceSize</key>
                <string>{273,316}</string>
            </dict>
            <key>payskill013.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,763},{229,260}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,37},{229,260}}</string>
                <key>sourceSize</key>
                <string>{273,316}</string>
            </dict>
            <key>payskill014.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,498},{237,248}}</string>
                <key>offset</key>
                <string>{-6,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,56},{237,248}}</string>
                <key>sourceSize</key>
                <string>{273,316}</string>
            </dict>
            <key>payskill015.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,747},{239,234}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,61},{239,234}}</string>
                <key>sourceSize</key>
                <string>{273,316}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>payskill.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab63dd967a40d0d9f5c9e75a5646cedd$</string>
            <key>textureFileName</key>
            <string>payskill.png</string>
        </dict>
    </dict>
</plist>
