<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bossgx_p_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,452},{123,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,59}}</string>
                <key>sourceSize</key>
                <string>{123,59}</string>
            </dict>
            <key>bossgx_p_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,309},{138,57}}</string>
                <key>offset</key>
                <string>{-5,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,66},{138,57}}</string>
                <key>sourceSize</key>
                <string>{256,123}</string>
            </dict>
            <key>bossgx_p_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,309},{142,81}}</string>
                <key>offset</key>
                <string>{-5,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,42},{142,81}}</string>
                <key>sourceSize</key>
                <string>{256,123}</string>
            </dict>
            <key>bossgx_p_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,217},{206,91}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,32},{206,91}}</string>
                <key>sourceSize</key>
                <string>{256,123}</string>
            </dict>
            <key>bossgx_p_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,93},{228,123}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{228,123}}</string>
                <key>sourceSize</key>
                <string>{256,123}</string>
            </dict>
            <key>bossgx_p_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{250,91}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{250,91}}</string>
                <key>sourceSize</key>
                <string>{256,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>petrifaction1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:056b69c4a0534c2e1c3bda0a339b6829$</string>
            <key>textureFileName</key>
            <string>petrifaction1.png</string>
        </dict>
    </dict>
</plist>
