<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guide021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,525},{206,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,261}}</string>
                <key>sourceSize</key>
                <string>{206,261}</string>
            </dict>
            <key>guide022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,263},{206,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,261}}</string>
                <key>sourceSize</key>
                <string>{206,261}</string>
            </dict>
            <key>guide023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{206,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,261}}</string>
                <key>sourceSize</key>
                <string>{206,261}</string>
            </dict>
            <key>guide024.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,787},{190,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,224}}</string>
                <key>sourceSize</key>
                <string>{190,224}</string>
            </dict>
            <key>guide025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,787},{190,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,224}}</string>
                <key>sourceSize</key>
                <string>{190,224}</string>
            </dict>
            <key>guide026.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,239},{237,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,258}}</string>
                <key>sourceSize</key>
                <string>{237,258}</string>
            </dict>
            <key>guide027.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1},{237,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,258}}</string>
                <key>sourceSize</key>
                <string>{237,258}</string>
            </dict>
            <key>guide028.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1},{237,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,258}}</string>
                <key>sourceSize</key>
                <string>{237,258}</string>
            </dict>
            <key>guide029.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,498},{179,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,212}}</string>
                <key>sourceSize</key>
                <string>{179,212}</string>
            </dict>
            <key>guide030.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,755},{179,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,212}}</string>
                <key>sourceSize</key>
                <string>{179,212}</string>
            </dict>
            <key>guide031.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,498},{200,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,256}}</string>
                <key>sourceSize</key>
                <string>{200,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guide1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6a1b3c96c2dc61baf3f66a6c0dfc7ab$</string>
            <key>textureFileName</key>
            <string>guide1.png</string>
        </dict>
    </dict>
</plist>
