<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>checkpointTheme1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,788},{124,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,35}}</string>
                <key>sourceSize</key>
                <string>{124,35}</string>
            </dict>
            <key>checkpointTheme2.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,684},{124,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,35}}</string>
                <key>sourceSize</key>
                <string>{124,35}</string>
            </dict>
            <key>checkpointTheme3.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,741},{118,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,35}}</string>
                <key>sourceSize</key>
                <string>{118,35}</string>
            </dict>
            <key>checkpointTheme4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,753},{145,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,34}}</string>
                <key>sourceSize</key>
                <string>{145,34}</string>
            </dict>
            <key>xuanzgk001.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,479},{158,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,68}}</string>
                <key>sourceSize</key>
                <string>{158,68}</string>
            </dict>
            <key>xuanzgk002.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,410},{158,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,68}}</string>
                <key>sourceSize</key>
                <string>{158,68}</string>
            </dict>
            <key>xuanzgk003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,824},{114,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,50}}</string>
                <key>sourceSize</key>
                <string>{114,50}</string>
            </dict>
            <key>xuanzgk004.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,809},{114,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,50}}</string>
                <key>sourceSize</key>
                <string>{114,50}</string>
            </dict>
            <key>xuanzgk005.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,777},{114,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,50}}</string>
                <key>sourceSize</key>
                <string>{114,50}</string>
            </dict>
            <key>xuanzgk006.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,490},{114,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,50}}</string>
                <key>sourceSize</key>
                <string>{114,50}</string>
            </dict>
            <key>xuanzgk008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,352},{198,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,45}}</string>
                <key>sourceSize</key>
                <string>{198,45}</string>
            </dict>
            <key>xuanzgk010.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,450},{54,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,39}}</string>
                <key>sourceSize</key>
                <string>{54,39}</string>
            </dict>
            <key>xuanzgk011.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,410},{54,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,39}}</string>
                <key>sourceSize</key>
                <string>{54,39}</string>
            </dict>
            <key>xuanzgk012.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,330},{147,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,13},{147,89}}</string>
                <key>sourceSize</key>
                <string>{183,115}</string>
            </dict>
            <key>xuanzgk013.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,548},{146,114}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{146,114}}</string>
                <key>sourceSize</key>
                <string>{214,174}</string>
            </dict>
            <key>xuanzgk013b.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,189},{198,162}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{198,162}}</string>
                <key>sourceSize</key>
                <string>{214,174}</string>
            </dict>
            <key>xuanzgk013c.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,189},{140,94}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,49},{140,94}}</string>
                <key>sourceSize</key>
                <string>{214,174}</string>
            </dict>
            <key>xuanzgk014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{500,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{500,187}}</string>
                <key>sourceSize</key>
                <string>{502,193}</string>
            </dict>
            <key>xuanzgk015.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,641},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{45,42}</string>
            </dict>
            <key>xuanzgk016.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,598},{45,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,42}}</string>
                <key>sourceSize</key>
                <string>{45,42}</string>
            </dict>
            <key>xuanzgk023.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,352},{197,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,57}}</string>
                <key>sourceSize</key>
                <string>{197,57}</string>
            </dict>
            <key>xuanzgk050.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,663},{146,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,77}}</string>
                <key>sourceSize</key>
                <string>{146,77}</string>
            </dict>
            <key>xuanzgk051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,675},{146,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,77}}</string>
                <key>sourceSize</key>
                <string>{146,77}</string>
            </dict>
            <key>xuanzgk052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,597},{146,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,77}}</string>
                <key>sourceSize</key>
                <string>{146,77}</string>
            </dict>
            <key>xuanzgk053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,519},{146,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,77}}</string>
                <key>sourceSize</key>
                <string>{146,77}</string>
            </dict>
            <key>xuanzgk054.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,507},{102,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,35}}</string>
                <key>sourceSize</key>
                <string>{102,35}</string>
            </dict>
            <key>xuanzgk056.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,951},{72,73}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{82,75}</string>
            </dict>
            <key>xuanzgk057.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,679},{62,73}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,73}}</string>
                <key>sourceSize</key>
                <string>{82,75}</string>
            </dict>
            <key>xuanzgk058.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,605},{62,73}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{62,73}}</string>
                <key>sourceSize</key>
                <string>{82,75}</string>
            </dict>
            <key>xuanzgk061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,189},{214,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{214,162}}</string>
                <key>sourceSize</key>
                <string>{214,174}</string>
            </dict>
            <key>xuanzgk062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,398},{166,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,26},{166,120}}</string>
                <key>sourceSize</key>
                <string>{214,174}</string>
            </dict>
            <key>xuanzgk_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,828},{75,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,28}}</string>
                <key>sourceSize</key>
                <string>{75,28}</string>
            </dict>
            <key>xuanzgk_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,924},{75,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,28}}</string>
                <key>sourceSize</key>
                <string>{75,28}</string>
            </dict>
            <key>xuanzgk_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,924},{75,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,28}}</string>
                <key>sourceSize</key>
                <string>{75,28}</string>
            </dict>
            <key>xuanzgk_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,924},{75,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,28}}</string>
                <key>sourceSize</key>
                <string>{75,28}</string>
            </dict>
            <key>xuanzgk_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,875},{75,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,28}}</string>
                <key>sourceSize</key>
                <string>{75,28}</string>
            </dict>
            <key>xuanzgk_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,875},{75,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,28}}</string>
                <key>sourceSize</key>
                <string>{75,32}</string>
            </dict>
            <key>xuanzgk_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,924},{75,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,28}}</string>
                <key>sourceSize</key>
                <string>{75,32}</string>
            </dict>
            <key>xuanzgk_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,741},{75,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,28}}</string>
                <key>sourceSize</key>
                <string>{75,32}</string>
            </dict>
            <key>xuanzgk_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,746},{75,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,28}}</string>
                <key>sourceSize</key>
                <string>{75,32}</string>
            </dict>
            <key>xuanzgk_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,746},{75,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,28}}</string>
                <key>sourceSize</key>
                <string>{75,32}</string>
            </dict>
            <key>xuanzgk_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,717},{99,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,28}}</string>
                <key>sourceSize</key>
                <string>{99,28}</string>
            </dict>
            <key>xuanzgk_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,688},{99,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,28}}</string>
                <key>sourceSize</key>
                <string>{99,28}</string>
            </dict>
            <key>xuanzgk_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,659},{99,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,28}}</string>
                <key>sourceSize</key>
                <string>{99,28}</string>
            </dict>
            <key>xuanzgk_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,630},{99,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,28}}</string>
                <key>sourceSize</key>
                <string>{99,28}</string>
            </dict>
            <key>xuanzgk_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,601},{99,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,28}}</string>
                <key>sourceSize</key>
                <string>{99,28}</string>
            </dict>
            <key>xuanzgk_041.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,572},{99,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,28}}</string>
                <key>sourceSize</key>
                <string>{99,28}</string>
            </dict>
            <key>xuanzgk_042.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,543},{99,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,28}}</string>
                <key>sourceSize</key>
                <string>{99,28}</string>
            </dict>
            <key>xuanzgk_043.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,478},{99,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,28}}</string>
                <key>sourceSize</key>
                <string>{99,28}</string>
            </dict>
            <key>xuanzgk_044.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,498},{99,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,28}}</string>
                <key>sourceSize</key>
                <string>{99,28}</string>
            </dict>
            <key>xuanzgk_045.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,398},{99,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,28}}</string>
                <key>sourceSize</key>
                <string>{99,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:636c4aade3151f4762102cb844894d94$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
