<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>checkpointsfish011.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,255},{75,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,2},{75,69}}</string>
                <key>sourceSize</key>
                <string>{119,73}</string>
            </dict>
            <key>checkpointsfish012.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,259},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,3},{67,67}}</string>
                <key>sourceSize</key>
                <string>{119,73}</string>
            </dict>
            <key>checkpointsfish013.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1},{93,59}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{93,59}}</string>
                <key>sourceSize</key>
                <string>{119,73}</string>
            </dict>
            <key>checkpointsfish014.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,185},{79,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{79,69}}</string>
                <key>sourceSize</key>
                <string>{119,73}</string>
            </dict>
            <key>checkpointsfish015.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,185},{77,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{77,73}}</string>
                <key>sourceSize</key>
                <string>{119,73}</string>
            </dict>
            <key>checkpointsfish021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,214},{79,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{79,65}}</string>
                <key>sourceSize</key>
                <string>{119,73}</string>
            </dict>
            <key>checkpointsfish022.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,61},{91,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{91,65}}</string>
                <key>sourceSize</key>
                <string>{119,73}</string>
            </dict>
            <key>checkpointsfish023.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,127},{119,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{119,57}}</string>
                <key>sourceSize</key>
                <string>{119,73}</string>
            </dict>
            <key>checkpointsfish024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,144},{85,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{85,69}}</string>
                <key>sourceSize</key>
                <string>{119,73}</string>
            </dict>
            <key>checkpointsfish025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,280},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{119,73}</string>
            </dict>
            <key>checkpointsfish031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,214},{79,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{79,65}}</string>
                <key>sourceSize</key>
                <string>{119,73}</string>
            </dict>
            <key>checkpointsfish032.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,61},{91,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{91,65}}</string>
                <key>sourceSize</key>
                <string>{119,73}</string>
            </dict>
            <key>checkpointsfish033.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,127},{119,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{119,57}}</string>
                <key>sourceSize</key>
                <string>{119,73}</string>
            </dict>
            <key>checkpointsfish034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,144},{85,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{85,69}}</string>
                <key>sourceSize</key>
                <string>{119,73}</string>
            </dict>
            <key>checkpointsfish035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,76},{119,67}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,67}}</string>
                <key>sourceSize</key>
                <string>{119,73}</string>
            </dict>
            <key>checkpointsfish041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,214},{79,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{79,65}}</string>
                <key>sourceSize</key>
                <string>{119,73}</string>
            </dict>
            <key>checkpointsfish042.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,61},{91,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{91,65}}</string>
                <key>sourceSize</key>
                <string>{119,73}</string>
            </dict>
            <key>checkpointsfish043.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,127},{119,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{119,57}}</string>
                <key>sourceSize</key>
                <string>{119,73}</string>
            </dict>
            <key>checkpointsfish044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,144},{85,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{85,69}}</string>
                <key>sourceSize</key>
                <string>{119,73}</string>
            </dict>
            <key>checkpointsfish045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{141,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,74}}</string>
                <key>sourceSize</key>
                <string>{141,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI_Checkpointsfish.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7960cf47c6fb92e1a21e1f270669ab2d$</string>
            <key>textureFileName</key>
            <string>UI_Checkpointsfish.png</string>
        </dict>
    </dict>
</plist>
