<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yu11a001.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,80},{48,78}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{48,78}}</string>
                <key>sourceSize</key>
                <string>{56,98}</string>
            </dict>
            <key>yu11a002.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,159},{48,76}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,17},{48,76}}</string>
                <key>sourceSize</key>
                <string>{56,98}</string>
            </dict>
            <key>yu11a003.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,159},{50,78}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{50,78}}</string>
                <key>sourceSize</key>
                <string>{56,98}</string>
            </dict>
            <key>yu11a004.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1},{48,76}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,17},{48,76}}</string>
                <key>sourceSize</key>
                <string>{56,98}</string>
            </dict>
            <key>yu11b001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,96},{50,80}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{50,80}}</string>
                <key>sourceSize</key>
                <string>{64,84}</string>
            </dict>
            <key>yu11b002.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,76},{58,66}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{58,66}}</string>
                <key>sourceSize</key>
                <string>{64,84}</string>
            </dict>
            <key>yu11b003.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1},{54,74}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{54,74}}</string>
                <key>sourceSize</key>
                <string>{64,84}</string>
            </dict>
            <key>yu11c001.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,80},{50,78}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,17},{50,78}}</string>
                <key>sourceSize</key>
                <string>{56,98}</string>
            </dict>
            <key>yu11c002.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,1},{54,78}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{54,78}}</string>
                <key>sourceSize</key>
                <string>{56,98}</string>
            </dict>
            <key>yu11c003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{48,94}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{48,94}}</string>
                <key>sourceSize</key>
                <string>{56,98}</string>
            </dict>
            <key>yu11c004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,177},{54,78}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{54,78}}</string>
                <key>sourceSize</key>
                <string>{56,98}</string>
            </dict>
            <key>yu12a001.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,136},{41,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{41,39}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>yu12a002.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,196},{39,41}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>yu12a003.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,94},{41,39}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{41,39}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>yu12a004.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,1},{41,39}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,39}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>yu12a005.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,52},{41,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{41,39}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>yu12a006.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,154},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>yu12a007.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,154},{41,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>yu12b001.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,136},{41,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{41,39}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>yu12b002.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,196},{39,41}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>yu12b003.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,94},{41,39}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{41,39}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>yu12b004.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,1},{41,39}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,39}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>yu12b005.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,52},{41,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{41,39}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>yu12b006.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,154},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>yu12b007.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,154},{41,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>yu12c001.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,136},{41,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{41,39}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>yu12c002.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,196},{39,41}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>yu12c003.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,94},{41,39}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{41,39}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>yu12c004.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,1},{41,39}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,39}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>yu12c005.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,52},{41,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{41,39}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>yu12c006.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,154},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>yu12c007.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,154},{41,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>yu14a001.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,143},{46,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{46,52}}</string>
                <key>sourceSize</key>
                <string>{64,52}</string>
            </dict>
            <key>yu14a002.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,1},{50,50}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{50,50}}</string>
                <key>sourceSize</key>
                <string>{64,52}</string>
            </dict>
            <key>yu14a003.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,103},{50,48}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{50,48}}</string>
                <key>sourceSize</key>
                <string>{64,52}</string>
            </dict>
            <key>yu14a004.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,1},{50,50}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{50,50}}</string>
                <key>sourceSize</key>
                <string>{64,52}</string>
            </dict>
            <key>yu14a005.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,143},{46,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{46,52}}</string>
                <key>sourceSize</key>
                <string>{64,52}</string>
            </dict>
            <key>yu14a006.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,52},{48,50}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{48,50}}</string>
                <key>sourceSize</key>
                <string>{64,52}</string>
            </dict>
            <key>yu14a007.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1},{50,48}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{50,48}}</string>
                <key>sourceSize</key>
                <string>{64,52}</string>
            </dict>
            <key>yu14a008.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,52},{48,50}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{48,50}}</string>
                <key>sourceSize</key>
                <string>{64,52}</string>
            </dict>
            <key>yu14b001.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,78},{75,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,43}}</string>
                <key>sourceSize</key>
                <string>{75,45}</string>
            </dict>
            <key>yu14b002.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,154},{73,45}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{73,45}}</string>
                <key>sourceSize</key>
                <string>{75,45}</string>
            </dict>
            <key>yu14c001.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,67},{45,51}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{45,51}}</string>
                <key>sourceSize</key>
                <string>{71,69}</string>
            </dict>
            <key>yu14c002.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,199},{53,49}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{53,49}}</string>
                <key>sourceSize</key>
                <string>{71,69}</string>
            </dict>
            <key>yu14c003.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,199},{55,45}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{55,45}}</string>
                <key>sourceSize</key>
                <string>{71,69}</string>
            </dict>
            <key>yu14c004.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,143},{55,51}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{55,51}}</string>
                <key>sourceSize</key>
                <string>{71,69}</string>
            </dict>
            <key>yu14c005.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,1},{55,65}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{55,65}}</string>
                <key>sourceSize</key>
                <string>{71,69}</string>
            </dict>
            <key>yu14c006.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,196},{47,51}}</string>
                <key>offset</key>
                <string>{12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{47,51}}</string>
                <key>sourceSize</key>
                <string>{71,69}</string>
            </dict>
            <key>yu14c007.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,196},{47,51}}</string>
                <key>offset</key>
                <string>{12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{47,51}}</string>
                <key>sourceSize</key>
                <string>{71,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>attackfish1.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56239e0f117706d1a003a4720e936109$</string>
            <key>textureFileName</key>
            <string>attackfish1.png</string>
        </dict>
    </dict>
</plist>
