<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss01000.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,460},{147,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,145}}</string>
                <key>sourceSize</key>
                <string>{147,145}</string>
            </dict>
            <key>boss01001.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,634},{226,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,173}}</string>
                <key>sourceSize</key>
                <string>{226,173}</string>
            </dict>
            <key>boss01002.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,460},{226,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,173}}</string>
                <key>sourceSize</key>
                <string>{226,173}</string>
            </dict>
            <key>boss01003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,756},{226,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,173}}</string>
                <key>sourceSize</key>
                <string>{226,173}</string>
            </dict>
            <key>boss01004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,756},{226,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,173}}</string>
                <key>sourceSize</key>
                <string>{226,173}</string>
            </dict>
            <key>boss01005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,756},{226,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,173}}</string>
                <key>sourceSize</key>
                <string>{226,173}</string>
            </dict>
            <key>boss01006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,756},{226,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,173}}</string>
                <key>sourceSize</key>
                <string>{226,173}</string>
            </dict>
            <key>boss01007.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,460},{226,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,173}}</string>
                <key>sourceSize</key>
                <string>{226,173}</string>
            </dict>
            <key>boss01008.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,634},{226,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,173}}</string>
                <key>sourceSize</key>
                <string>{226,173}</string>
            </dict>
            <key>boss02001.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,417},{109,94}}</string>
                <key>offset</key>
                <string>{22,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,7},{109,94}}</string>
                <key>sourceSize</key>
                <string>{153,102}</string>
            </dict>
            <key>boss02002.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,362},{91,98}}</string>
                <key>offset</key>
                <string>{31,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,4},{91,98}}</string>
                <key>sourceSize</key>
                <string>{153,102}</string>
            </dict>
            <key>boss02003.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,932},{77,94}}</string>
                <key>offset</key>
                <string>{38,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,0},{77,94}}</string>
                <key>sourceSize</key>
                <string>{153,102}</string>
            </dict>
            <key>boss02004.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,362},{91,98}}</string>
                <key>offset</key>
                <string>{31,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,4},{91,98}}</string>
                <key>sourceSize</key>
                <string>{153,102}</string>
            </dict>
            <key>boss02005.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,417},{109,94}}</string>
                <key>offset</key>
                <string>{22,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,7},{109,94}}</string>
                <key>sourceSize</key>
                <string>{153,102}</string>
            </dict>
            <key>boss02006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,930},{133,80}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{133,80}}</string>
                <key>sourceSize</key>
                <string>{153,102}</string>
            </dict>
            <key>boss02007.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,362},{153,58}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{153,58}}</string>
                <key>sourceSize</key>
                <string>{153,102}</string>
            </dict>
            <key>boss02008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,930},{133,80}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{133,80}}</string>
                <key>sourceSize</key>
                <string>{153,102}</string>
            </dict>
            <key>boss02a001.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,711},{88,107}}</string>
                <key>offset</key>
                <string>{1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{88,107}}</string>
                <key>sourceSize</key>
                <string>{90,215}</string>
            </dict>
            <key>boss02a002.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,516},{90,99}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{90,99}}</string>
                <key>sourceSize</key>
                <string>{90,215}</string>
            </dict>
            <key>boss02a003.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,808},{90,73}}</string>
                <key>offset</key>
                <string>{0,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,73}}</string>
                <key>sourceSize</key>
                <string>{90,215}</string>
            </dict>
            <key>boss02a004.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,808},{90,73}}</string>
                <key>offset</key>
                <string>{0,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,73}}</string>
                <key>sourceSize</key>
                <string>{90,215}</string>
            </dict>
            <key>boss02a005.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,516},{90,99}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{90,99}}</string>
                <key>sourceSize</key>
                <string>{90,215}</string>
            </dict>
            <key>boss02a006.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,711},{88,107}}</string>
                <key>offset</key>
                <string>{1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{88,107}}</string>
                <key>sourceSize</key>
                <string>{90,215}</string>
            </dict>
            <key>boss02a007.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,606},{54,159}}</string>
                <key>offset</key>
                <string>{18,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,56},{54,159}}</string>
                <key>sourceSize</key>
                <string>{90,215}</string>
            </dict>
            <key>boss02a008.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,606},{54,159}}</string>
                <key>offset</key>
                <string>{18,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,56},{54,159}}</string>
                <key>sourceSize</key>
                <string>{90,215}</string>
            </dict>
            <key>boss03001.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,559},{77,94}}</string>
                <key>offset</key>
                <string>{-38,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,94}}</string>
                <key>sourceSize</key>
                <string>{153,102}</string>
            </dict>
            <key>boss03002.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,616},{89,98}}</string>
                <key>offset</key>
                <string>{-32,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{89,98}}</string>
                <key>sourceSize</key>
                <string>{153,102}</string>
            </dict>
            <key>boss03003.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,837},{109,94}}</string>
                <key>offset</key>
                <string>{-22,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{109,94}}</string>
                <key>sourceSize</key>
                <string>{153,102}</string>
            </dict>
            <key>boss03004.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,756},{133,80}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{133,80}}</string>
                <key>sourceSize</key>
                <string>{153,102}</string>
            </dict>
            <key>boss03005.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,358},{153,58}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{153,58}}</string>
                <key>sourceSize</key>
                <string>{153,102}</string>
            </dict>
            <key>boss03006.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,756},{133,80}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{133,80}}</string>
                <key>sourceSize</key>
                <string>{153,102}</string>
            </dict>
            <key>boss03007.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,837},{109,94}}</string>
                <key>offset</key>
                <string>{-22,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{109,94}}</string>
                <key>sourceSize</key>
                <string>{153,102}</string>
            </dict>
            <key>boss03008.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,616},{89,98}}</string>
                <key>offset</key>
                <string>{-32,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{89,98}}</string>
                <key>sourceSize</key>
                <string>{153,102}</string>
            </dict>
            <key>boss03a001.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,603},{88,107}}</string>
                <key>offset</key>
                <string>{-1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{88,107}}</string>
                <key>sourceSize</key>
                <string>{90,215}</string>
            </dict>
            <key>boss03a002.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,512},{90,99}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{90,99}}</string>
                <key>sourceSize</key>
                <string>{90,215}</string>
            </dict>
            <key>boss03a003.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,654},{90,73}}</string>
                <key>offset</key>
                <string>{0,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,73}}</string>
                <key>sourceSize</key>
                <string>{90,215}</string>
            </dict>
            <key>boss03a004.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,654},{90,73}}</string>
                <key>offset</key>
                <string>{0,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,73}}</string>
                <key>sourceSize</key>
                <string>{90,215}</string>
            </dict>
            <key>boss03a005.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,512},{90,99}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{90,99}}</string>
                <key>sourceSize</key>
                <string>{90,215}</string>
            </dict>
            <key>boss03a006.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,603},{88,107}}</string>
                <key>offset</key>
                <string>{-1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{88,107}}</string>
                <key>sourceSize</key>
                <string>{90,215}</string>
            </dict>
            <key>boss03a007.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,606},{54,159}}</string>
                <key>offset</key>
                <string>{-18,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{54,159}}</string>
                <key>sourceSize</key>
                <string>{90,215}</string>
            </dict>
            <key>boss03a008.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,606},{54,159}}</string>
                <key>offset</key>
                <string>{-18,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{54,159}}</string>
                <key>sourceSize</key>
                <string>{90,215}</string>
            </dict>
            <key>boss04001.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,728},{79,109}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{79,109}}</string>
                <key>sourceSize</key>
                <string>{97,123}</string>
            </dict>
            <key>boss04002.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,932},{87,91}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{87,91}}</string>
                <key>sourceSize</key>
                <string>{97,123}</string>
            </dict>
            <key>boss04003.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,766},{97,73}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,73}}</string>
                <key>sourceSize</key>
                <string>{97,123}</string>
            </dict>
            <key>boss04004.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,932},{87,91}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{87,91}}</string>
                <key>sourceSize</key>
                <string>{97,123}</string>
            </dict>
            <key>boss04005.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,728},{79,109}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{79,109}}</string>
                <key>sourceSize</key>
                <string>{97,123}</string>
            </dict>
            <key>boss04006.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,838},{53,117}}</string>
                <key>offset</key>
                <string>{22,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{53,117}}</string>
                <key>sourceSize</key>
                <string>{97,123}</string>
            </dict>
            <key>boss04007.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,882},{31,123}}</string>
                <key>offset</key>
                <string>{33,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,0},{31,123}}</string>
                <key>sourceSize</key>
                <string>{97,123}</string>
            </dict>
            <key>boss04008.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,838},{53,117}}</string>
                <key>offset</key>
                <string>{22,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{53,117}}</string>
                <key>sourceSize</key>
                <string>{97,123}</string>
            </dict>
            <key>boss04a001.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,840},{78,108}}</string>
                <key>offset</key>
                <string>{3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{78,108}}</string>
                <key>sourceSize</key>
                <string>{86,154}</string>
            </dict>
            <key>boss04a002.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,825},{82,80}}</string>
                <key>offset</key>
                <string>{1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{86,154}</string>
            </dict>
            <key>boss04a003.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,892},{86,54}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,54}}</string>
                <key>sourceSize</key>
                <string>{86,154}</string>
            </dict>
            <key>boss04a004.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,892},{86,54}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,54}}</string>
                <key>sourceSize</key>
                <string>{86,154}</string>
            </dict>
            <key>boss04a005.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,825},{82,80}}</string>
                <key>offset</key>
                <string>{1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{86,154}</string>
            </dict>
            <key>boss04a006.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,840},{78,108}}</string>
                <key>offset</key>
                <string>{3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{78,108}}</string>
                <key>sourceSize</key>
                <string>{86,154}</string>
            </dict>
            <key>boss04a007.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,859},{38,154}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{38,154}}</string>
                <key>sourceSize</key>
                <string>{86,154}</string>
            </dict>
            <key>boss04a008.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,859},{38,154}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{38,154}}</string>
                <key>sourceSize</key>
                <string>{86,154}</string>
            </dict>
            <key>boss05001.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,461},{97,73}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,73}}</string>
                <key>sourceSize</key>
                <string>{97,123}</string>
            </dict>
            <key>boss05002.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,930},{87,91}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{87,91}}</string>
                <key>sourceSize</key>
                <string>{97,123}</string>
            </dict>
            <key>boss05003.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,715},{79,109}}</string>
                <key>offset</key>
                <string>{-9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,109}}</string>
                <key>sourceSize</key>
                <string>{97,123}</string>
            </dict>
            <key>boss05004.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,889},{53,117}}</string>
                <key>offset</key>
                <string>{-22,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,117}}</string>
                <key>sourceSize</key>
                <string>{97,123}</string>
            </dict>
            <key>boss05005.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,728},{31,123}}</string>
                <key>offset</key>
                <string>{-33,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,123}}</string>
                <key>sourceSize</key>
                <string>{97,123}</string>
            </dict>
            <key>boss05006.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,889},{53,117}}</string>
                <key>offset</key>
                <string>{-22,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,117}}</string>
                <key>sourceSize</key>
                <string>{97,123}</string>
            </dict>
            <key>boss05007.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,715},{79,109}}</string>
                <key>offset</key>
                <string>{-9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,109}}</string>
                <key>sourceSize</key>
                <string>{97,123}</string>
            </dict>
            <key>boss05008.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,930},{87,91}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{87,91}}</string>
                <key>sourceSize</key>
                <string>{97,123}</string>
            </dict>
            <key>boss05a001.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,889},{78,108}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,108}}</string>
                <key>sourceSize</key>
                <string>{86,154}</string>
            </dict>
            <key>boss05a002.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,808},{82,80}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{86,154}</string>
            </dict>
            <key>boss05a003.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,949},{86,54}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,54}}</string>
                <key>sourceSize</key>
                <string>{86,154}</string>
            </dict>
            <key>boss05a004.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,949},{86,54}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,54}}</string>
                <key>sourceSize</key>
                <string>{86,154}</string>
            </dict>
            <key>boss05a005.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,808},{82,80}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{86,154}</string>
            </dict>
            <key>boss05a006.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,889},{78,108}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,108}}</string>
                <key>sourceSize</key>
                <string>{86,154}</string>
            </dict>
            <key>boss05a007.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,606},{38,154}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,154}}</string>
                <key>sourceSize</key>
                <string>{86,154}</string>
            </dict>
            <key>boss05a008.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,606},{38,154}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,154}}</string>
                <key>sourceSize</key>
                <string>{86,154}</string>
            </dict>
            <key>boss06001.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,158},{358,156}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{358,156}}</string>
                <key>sourceSize</key>
                <string>{360,160}</string>
            </dict>
            <key>boss06002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,474},{360,144}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,144}}</string>
                <key>sourceSize</key>
                <string>{360,160}</string>
            </dict>
            <key>boss06003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,619},{360,136}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,136}}</string>
                <key>sourceSize</key>
                <string>{360,160}</string>
            </dict>
            <key>boss06004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,474},{360,144}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,144}}</string>
                <key>sourceSize</key>
                <string>{360,160}</string>
            </dict>
            <key>boss06005.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,158},{358,156}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{358,156}}</string>
                <key>sourceSize</key>
                <string>{360,160}</string>
            </dict>
            <key>boss06006.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,1},{356,158}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{356,158}}</string>
                <key>sourceSize</key>
                <string>{360,160}</string>
            </dict>
            <key>boss06007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,158},{360,156}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{360,156}}</string>
                <key>sourceSize</key>
                <string>{360,160}</string>
            </dict>
            <key>boss06008.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,1},{356,158}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{356,158}}</string>
                <key>sourceSize</key>
                <string>{360,160}</string>
            </dict>
            <key>boss07001.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1},{358,156}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{358,156}}</string>
                <key>sourceSize</key>
                <string>{360,160}</string>
            </dict>
            <key>boss07002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,315},{356,158}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{356,158}}</string>
                <key>sourceSize</key>
                <string>{360,160}</string>
            </dict>
            <key>boss07003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{360,156}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{360,156}}</string>
                <key>sourceSize</key>
                <string>{360,160}</string>
            </dict>
            <key>boss07004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,315},{356,158}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{356,158}}</string>
                <key>sourceSize</key>
                <string>{360,160}</string>
            </dict>
            <key>boss07005.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1},{358,156}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{358,156}}</string>
                <key>sourceSize</key>
                <string>{360,160}</string>
            </dict>
            <key>boss07006.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,315},{360,144}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,144}}</string>
                <key>sourceSize</key>
                <string>{360,160}</string>
            </dict>
            <key>boss07007.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,1},{360,136}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,136}}</string>
                <key>sourceSize</key>
                <string>{360,160}</string>
            </dict>
            <key>boss07008.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,315},{360,144}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,144}}</string>
                <key>sourceSize</key>
                <string>{360,160}</string>
            </dict>
            <key>bossgx002.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,906},{84,29}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{84,29}}</string>
                <key>sourceSize</key>
                <string>{108,53}</string>
            </dict>
            <key>bossgx003.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,936},{82,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{82,27}}</string>
                <key>sourceSize</key>
                <string>{108,53}</string>
            </dict>
            <key>bossgx004.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,998},{72,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{72,25}}</string>
                <key>sourceSize</key>
                <string>{108,53}</string>
            </dict>
            <key>bossgx009.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,838},{29,65}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{29,65}}</string>
                <key>sourceSize</key>
                <string>{35,93}</string>
            </dict>
            <key>bossgx010.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,852},{29,51}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,33},{29,51}}</string>
                <key>sourceSize</key>
                <string>{35,93}</string>
            </dict>
            <key>bossgx011.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,964},{29,43}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,46},{29,43}}</string>
                <key>sourceSize</key>
                <string>{35,93}</string>
            </dict>
            <key>bossgx015.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,964},{48,36}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{48,36}}</string>
                <key>sourceSize</key>
                <string>{70,62}</string>
            </dict>
            <key>bossgx016.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,808},{52,50}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{52,50}}</string>
                <key>sourceSize</key>
                <string>{70,62}</string>
            </dict>
            <key>bossgx017.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,838},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{58,56}}</string>
                <key>sourceSize</key>
                <string>{70,62}</string>
            </dict>
            <key>bossgx018.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,947},{66,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{66,58}}</string>
                <key>sourceSize</key>
                <string>{70,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss01.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e0f9150922a2c4ffc402aa60a8bc191$</string>
            <key>textureFileName</key>
            <string>boss01.png</string>
        </dict>
    </dict>
</plist>
