<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yu20a001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,755},{46,262}}</string>
                <key>offset</key>
                <string>{40,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,112},{46,262}}</string>
                <key>sourceSize</key>
                <string>{350,398}</string>
            </dict>
            <key>yu20a002.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1},{46,364}}</string>
                <key>offset</key>
                <string>{40,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,34},{46,364}}</string>
                <key>sourceSize</key>
                <string>{350,398}</string>
            </dict>
            <key>yu20a003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{82,384}}</string>
                <key>offset</key>
                <string>{41,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,14},{82,384}}</string>
                <key>sourceSize</key>
                <string>{350,398}</string>
            </dict>
            <key>yu20a004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,386},{244,368}}</string>
                <key>offset</key>
                <string>{8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,30},{244,368}}</string>
                <key>sourceSize</key>
                <string>{350,398}</string>
            </dict>
            <key>yu20a005.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,1},{342,258}}</string>
                <key>offset</key>
                <string>{-4,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,92},{342,258}}</string>
                <key>sourceSize</key>
                <string>{350,398}</string>
            </dict>
            <key>yu20a006.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,344},{336,256}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,90},{336,256}}</string>
                <key>sourceSize</key>
                <string>{350,398}</string>
            </dict>
            <key>yu20a007.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,681},{332,254}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,90},{332,254}}</string>
                <key>sourceSize</key>
                <string>{350,398}</string>
            </dict>
            <key>yu20a008.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1},{326,254}}</string>
                <key>offset</key>
                <string>{-9,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,88},{326,254}}</string>
                <key>sourceSize</key>
                <string>{350,398}</string>
            </dict>
            <key>yu20a009.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,681},{332,254}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,90},{332,254}}</string>
                <key>sourceSize</key>
                <string>{350,398}</string>
            </dict>
            <key>yu20a010.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,344},{336,256}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,90},{336,256}}</string>
                <key>sourceSize</key>
                <string>{350,398}</string>
            </dict>
            <key>yu20b001.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,755},{342,258}}</string>
                <key>offset</key>
                <string>{-4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,92},{342,258}}</string>
                <key>sourceSize</key>
                <string>{350,398}</string>
            </dict>
            <key>yu20b002.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1},{292,302}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,48},{292,302}}</string>
                <key>sourceSize</key>
                <string>{350,398}</string>
            </dict>
            <key>yu20b003.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,328},{292,302}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,48},{292,302}}</string>
                <key>sourceSize</key>
                <string>{350,398}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bossPoseidon1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f69269615e810eb2d8395052ccc528de$</string>
            <key>textureFileName</key>
            <string>bossPoseidon1.png</string>
        </dict>
    </dict>
</plist>
