<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>octopus031.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1},{125,140}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,58},{125,140}}</string>
                <key>sourceSize</key>
                <string>{155,198}</string>
            </dict>
            <key>octopus032.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,927},{91,156}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,21},{91,156}}</string>
                <key>sourceSize</key>
                <string>{155,198}</string>
            </dict>
            <key>octopus033.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,1},{127,198}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{127,198}}</string>
                <key>sourceSize</key>
                <string>{155,198}</string>
            </dict>
            <key>octopus034.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,1},{141,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{141,196}}</string>
                <key>sourceSize</key>
                <string>{155,198}</string>
            </dict>
            <key>octopus035.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,249},{141,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{141,198}}</string>
                <key>sourceSize</key>
                <string>{155,198}</string>
            </dict>
            <key>octopus036.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,491},{141,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{141,198}}</string>
                <key>sourceSize</key>
                <string>{155,198}</string>
            </dict>
            <key>octopus037.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,200},{125,198}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{125,198}}</string>
                <key>sourceSize</key>
                <string>{155,198}</string>
            </dict>
            <key>octopus038.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,448},{125,198}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{125,198}}</string>
                <key>sourceSize</key>
                <string>{155,198}</string>
            </dict>
            <key>octopus039.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1},{127,198}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{127,198}}</string>
                <key>sourceSize</key>
                <string>{155,198}</string>
            </dict>
            <key>octopus040.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,647},{127,184}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{127,184}}</string>
                <key>sourceSize</key>
                <string>{155,198}</string>
            </dict>
            <key>octopus041.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,832},{125,184}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{125,184}}</string>
                <key>sourceSize</key>
                <string>{155,198}</string>
            </dict>
            <key>octopus042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1023},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{155,198}</string>
            </dict>
            <key>octopus043.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,949},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,98},{51,51}}</string>
                <key>sourceSize</key>
                <string>{247,247}</string>
            </dict>
            <key>octopus044.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,949},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,93},{61,61}}</string>
                <key>sourceSize</key>
                <string>{247,247}</string>
            </dict>
            <key>octopus045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,949},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,87},{73,73}}</string>
                <key>sourceSize</key>
                <string>{247,247}</string>
            </dict>
            <key>octopus046.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,927},{81,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,84},{81,79}}</string>
                <key>sourceSize</key>
                <string>{247,247}</string>
            </dict>
            <key>octopus047.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,1},{101,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,72},{101,103}}</string>
                <key>sourceSize</key>
                <string>{247,247}</string>
            </dict>
            <key>octopus048.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,1},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,59},{129,129}}</string>
                <key>sourceSize</key>
                <string>{247,247}</string>
            </dict>
            <key>octopus049.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,198},{157,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,45},{157,157}}</string>
                <key>sourceSize</key>
                <string>{247,247}</string>
            </dict>
            <key>octopus050.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,399},{179,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{179,179}}</string>
                <key>sourceSize</key>
                <string>{247,247}</string>
            </dict>
            <key>octopus051.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,721},{205,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{205,205}}</string>
                <key>sourceSize</key>
                <string>{247,247}</string>
            </dict>
            <key>octopus052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,721},{227,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{227,227}}</string>
                <key>sourceSize</key>
                <string>{247,247}</string>
            </dict>
            <key>octopus053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,249},{241,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{241,241}}</string>
                <key>sourceSize</key>
                <string>{247,247}</string>
            </dict>
            <key>octopus054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{247,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,247}}</string>
                <key>sourceSize</key>
                <string>{247,247}</string>
            </dict>
            <key>octopus055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,491},{229,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{229,229}}</string>
                <key>sourceSize</key>
                <string>{247,247}</string>
            </dict>
            <key>octopus056.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1023},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{247,247}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GemStarfishKing3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3b8b36f21976bb539a3822bf0940857$</string>
            <key>textureFileName</key>
            <string>GemStarfishKing3.png</string>
        </dict>
    </dict>
</plist>
