<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yu19a001.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,257},{127,121}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{127,121}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>yu19a002.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,125},{123,125}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{123,125}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>yu19a003.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1},{125,123}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{125,123}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>yu19a004.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,129},{127,121}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{127,121}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>yu19a005.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,385},{125,125}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{125,125}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>yu19a006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,129},{123,127}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{123,127}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>yu19a007.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1},{121,127}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{121,127}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>yu19a008.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,125},{123,125}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{123,125}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>yu19a009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,257},{127,123}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{127,123}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>yu19a010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,385},{125,125}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{125,125}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>yu19a011.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1},{123,125}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{123,125}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>yu19a012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{123,127}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{123,127}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>yu19b001.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,257},{127,121}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{127,121}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>yu19b002.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,125},{123,125}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{123,125}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>yu19b003.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1},{125,123}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{125,123}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>yu19b004.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,129},{127,121}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{127,121}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>yu19b005.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,385},{125,125}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{125,125}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>yu19b006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,129},{123,127}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{123,127}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>yu19b007.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1},{121,127}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{121,127}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>yu19b008.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,125},{123,125}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{123,125}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>yu19b009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,257},{127,123}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{127,123}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>yu19b010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,385},{125,125}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{125,125}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>yu19b011.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1},{123,125}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{123,125}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>yu19b012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{123,127}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{123,127}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>yu19c001.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,257},{127,121}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{127,121}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>yu19c002.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,125},{123,125}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{123,125}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>yu19c003.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1},{125,123}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{125,123}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>yu19c004.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,129},{127,121}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{127,121}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>yu19c005.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,385},{125,125}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{125,125}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>yu19c006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,129},{123,127}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{123,127}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>yu19c007.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1},{121,127}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{121,127}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>yu19c008.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,125},{123,125}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{123,125}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>yu19c009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,257},{127,123}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{127,123}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>yu19c010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,385},{125,125}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{125,125}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>yu19c011.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1},{123,125}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{123,125}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>yu19c012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{123,127}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{123,127}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GemStarfishKing1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25c177b343a658bf867a1c8112507850$</string>
            <key>textureFileName</key>
            <string>GemStarfishKing1.png</string>
        </dict>
    </dict>
</plist>
